.box-s-cg-1 {
  box-shadow: 0 0 1px #8fa9c1;
}

.box-s-cg-2 {
  box-shadow: 0 0 2px #8fa9c1;
}

.box-s-cg-3 {
  box-shadow: 0 0 3px #8fa9c1;
}

.box-s-cg-4 {
  box-shadow: 0 0 4px #8fa9c1;
}

.box-s-cg-5 {
  box-shadow: 0 0 5px #8fa9c1;
}

.box-s-cg-6 {
  box-shadow: 0 0 6px #8fa9c1;
}

.box-s-cg-7 {
  box-shadow: 0 0 7px #8fa9c1;
}

.box-s-cg-8 {
  box-shadow: 0 0 8px #8fa9c1;
}

.box-s-cg-9 {
  box-shadow: 0 0 9px #8fa9c1;
}

.box-s-cg-10 {
  box-shadow: 0 0 10px #8fa9c1;
}

.box-s-cg-11 {
  box-shadow: 0 0 11px #8fa9c1;
}

.box-s-cg-12 {
  box-shadow: 0 0 12px #8fa9c1;
}

.box-s-cg-13 {
  box-shadow: 0 0 13px #8fa9c1;
}

.box-s-cg-14 {
  box-shadow: 0 0 14px #8fa9c1;
}

.box-s-cg-15 {
  box-shadow: 0 0 15px #8fa9c1;
}

.box-s-cg-16 {
  box-shadow: 0 0 16px #8fa9c1;
}

.box-s-cg-17 {
  box-shadow: 0 0 17px #8fa9c1;
}

.box-s-cg-18 {
  box-shadow: 0 0 18px #8fa9c1;
}

.box-s-cg-19 {
  box-shadow: 0 0 19px #8fa9c1;
}

.box-s-cg-20 {
  box-shadow: 0 0 20px #8fa9c1;
}

.box-s-cg-21 {
  box-shadow: 0 0 21px #8fa9c1;
}

.box-s-cg-22 {
  box-shadow: 0 0 22px #8fa9c1;
}

.box-s-cg-23 {
  box-shadow: 0 0 23px #8fa9c1;
}

.box-s-cg-24 {
  box-shadow: 0 0 24px #8fa9c1;
}

.box-s-cg-25 {
  box-shadow: 0 0 25px #8fa9c1;
}

.box-s-cg-26 {
  box-shadow: 0 0 26px #8fa9c1;
}

.box-s-cg-27 {
  box-shadow: 0 0 27px #8fa9c1;
}

.box-s-cg-28 {
  box-shadow: 0 0 28px #8fa9c1;
}

.box-s-cg-29 {
  box-shadow: 0 0 29px #8fa9c1;
}

.box-s-cg-30 {
  box-shadow: 0 0 30px #8fa9c1;
}

.box-s-cg-31 {
  box-shadow: 0 0 31px #8fa9c1;
}

.box-s-cg-32 {
  box-shadow: 0 0 32px #8fa9c1;
}

.box-s-cg-33 {
  box-shadow: 0 0 33px #8fa9c1;
}

.box-s-cg-34 {
  box-shadow: 0 0 34px #8fa9c1;
}

.box-s-cg-35 {
  box-shadow: 0 0 35px #8fa9c1;
}

.box-s-cg-36 {
  box-shadow: 0 0 36px #8fa9c1;
}

.box-s-cg-37 {
  box-shadow: 0 0 37px #8fa9c1;
}

.box-s-cg-38 {
  box-shadow: 0 0 38px #8fa9c1;
}

.box-s-cg-39 {
  box-shadow: 0 0 39px #8fa9c1;
}

.box-s-cg-40 {
  box-shadow: 0 0 40px #8fa9c1;
}

.box-s-cg-41 {
  box-shadow: 0 0 41px #8fa9c1;
}

.box-s-cg-42 {
  box-shadow: 0 0 42px #8fa9c1;
}

.box-s-cg-43 {
  box-shadow: 0 0 43px #8fa9c1;
}

.box-s-cg-44 {
  box-shadow: 0 0 44px #8fa9c1;
}

.box-s-cg-45 {
  box-shadow: 0 0 45px #8fa9c1;
}

.box-s-cg-46 {
  box-shadow: 0 0 46px #8fa9c1;
}

.box-s-cg-47 {
  box-shadow: 0 0 47px #8fa9c1;
}

.box-s-cg-48 {
  box-shadow: 0 0 48px #8fa9c1;
}

.box-s-cg-49 {
  box-shadow: 0 0 49px #8fa9c1;
}

.box-s-cg-50 {
  box-shadow: 0 0 50px #8fa9c1;
}

.box-s-cg-51 {
  box-shadow: 0 0 51px #8fa9c1;
}

.box-s-cg-52 {
  box-shadow: 0 0 52px #8fa9c1;
}

.box-s-cg-53 {
  box-shadow: 0 0 53px #8fa9c1;
}

.box-s-cg-54 {
  box-shadow: 0 0 54px #8fa9c1;
}

.box-s-cg-55 {
  box-shadow: 0 0 55px #8fa9c1;
}

.box-s-cg-56 {
  box-shadow: 0 0 56px #8fa9c1;
}

.box-s-cg-57 {
  box-shadow: 0 0 57px #8fa9c1;
}

.box-s-cg-58 {
  box-shadow: 0 0 58px #8fa9c1;
}

.box-s-cg-59 {
  box-shadow: 0 0 59px #8fa9c1;
}

.box-s-cg-60 {
  box-shadow: 0 0 60px #8fa9c1;
}

.box-s-cg-61 {
  box-shadow: 0 0 61px #8fa9c1;
}

.box-s-cg-62 {
  box-shadow: 0 0 62px #8fa9c1;
}

.box-s-cg-63 {
  box-shadow: 0 0 63px #8fa9c1;
}

.box-s-cg-64 {
  box-shadow: 0 0 64px #8fa9c1;
}

.box-s-cg-65 {
  box-shadow: 0 0 65px #8fa9c1;
}

.box-s-cg-66 {
  box-shadow: 0 0 66px #8fa9c1;
}

.box-s-cg-67 {
  box-shadow: 0 0 67px #8fa9c1;
}

.box-s-cg-68 {
  box-shadow: 0 0 68px #8fa9c1;
}

.box-s-cg-69 {
  box-shadow: 0 0 69px #8fa9c1;
}

.box-s-cg-70 {
  box-shadow: 0 0 70px #8fa9c1;
}

.box-s-cg-71 {
  box-shadow: 0 0 71px #8fa9c1;
}

.box-s-cg-72 {
  box-shadow: 0 0 72px #8fa9c1;
}

.box-s-cg-73 {
  box-shadow: 0 0 73px #8fa9c1;
}

.box-s-cg-74 {
  box-shadow: 0 0 74px #8fa9c1;
}

.box-s-cg-75 {
  box-shadow: 0 0 75px #8fa9c1;
}

.box-s-cg-76 {
  box-shadow: 0 0 76px #8fa9c1;
}

.box-s-cg-77 {
  box-shadow: 0 0 77px #8fa9c1;
}

.box-s-cg-78 {
  box-shadow: 0 0 78px #8fa9c1;
}

.box-s-cg-79 {
  box-shadow: 0 0 79px #8fa9c1;
}

.box-s-cg-80 {
  box-shadow: 0 0 80px #8fa9c1;
}

.box-s-cg-81 {
  box-shadow: 0 0 81px #8fa9c1;
}

.box-s-cg-82 {
  box-shadow: 0 0 82px #8fa9c1;
}

.box-s-cg-83 {
  box-shadow: 0 0 83px #8fa9c1;
}

.box-s-cg-84 {
  box-shadow: 0 0 84px #8fa9c1;
}

.box-s-cg-85 {
  box-shadow: 0 0 85px #8fa9c1;
}

.box-s-cg-86 {
  box-shadow: 0 0 86px #8fa9c1;
}

.box-s-cg-87 {
  box-shadow: 0 0 87px #8fa9c1;
}

.box-s-cg-88 {
  box-shadow: 0 0 88px #8fa9c1;
}

.box-s-cg-89 {
  box-shadow: 0 0 89px #8fa9c1;
}

.box-s-cg-90 {
  box-shadow: 0 0 90px #8fa9c1;
}

.box-s-cg-91 {
  box-shadow: 0 0 91px #8fa9c1;
}

.box-s-cg-92 {
  box-shadow: 0 0 92px #8fa9c1;
}

.box-s-cg-93 {
  box-shadow: 0 0 93px #8fa9c1;
}

.box-s-cg-94 {
  box-shadow: 0 0 94px #8fa9c1;
}

.box-s-cg-95 {
  box-shadow: 0 0 95px #8fa9c1;
}

.box-s-cg-96 {
  box-shadow: 0 0 96px #8fa9c1;
}

.box-s-cg-97 {
  box-shadow: 0 0 97px #8fa9c1;
}

.box-s-cg-98 {
  box-shadow: 0 0 98px #8fa9c1;
}

.box-s-cg-99 {
  box-shadow: 0 0 99px #8fa9c1;
}

.box-s-cg-100 {
  box-shadow: 0 0 100px #8fa9c1;
}

.box-s-cg-h-1 {
  transition: box-shadow 2s;
}
.box-s-cg-h-1:hover {
  box-shadow: 0 0 1px #8fa9c1;
}

.box-s-cg-h-2 {
  transition: box-shadow 2s;
}
.box-s-cg-h-2:hover {
  box-shadow: 0 0 2px #8fa9c1;
}

.box-s-cg-h-3 {
  transition: box-shadow 2s;
}
.box-s-cg-h-3:hover {
  box-shadow: 0 0 3px #8fa9c1;
}

.box-s-cg-h-4 {
  transition: box-shadow 2s;
}
.box-s-cg-h-4:hover {
  box-shadow: 0 0 4px #8fa9c1;
}

.box-s-cg-h-5 {
  transition: box-shadow 2s;
}
.box-s-cg-h-5:hover {
  box-shadow: 0 0 5px #8fa9c1;
}

.box-s-cg-h-6 {
  transition: box-shadow 2s;
}
.box-s-cg-h-6:hover {
  box-shadow: 0 0 6px #8fa9c1;
}

.box-s-cg-h-7 {
  transition: box-shadow 2s;
}
.box-s-cg-h-7:hover {
  box-shadow: 0 0 7px #8fa9c1;
}

.box-s-cg-h-8 {
  transition: box-shadow 2s;
}
.box-s-cg-h-8:hover {
  box-shadow: 0 0 8px #8fa9c1;
}

.box-s-cg-h-9 {
  transition: box-shadow 2s;
}
.box-s-cg-h-9:hover {
  box-shadow: 0 0 9px #8fa9c1;
}

.box-s-cg-h-10 {
  transition: box-shadow 2s;
}
.box-s-cg-h-10:hover {
  box-shadow: 0 0 10px #8fa9c1;
}

.box-s-cg-h-11 {
  transition: box-shadow 2s;
}
.box-s-cg-h-11:hover {
  box-shadow: 0 0 11px #8fa9c1;
}

.box-s-cg-h-12 {
  transition: box-shadow 2s;
}
.box-s-cg-h-12:hover {
  box-shadow: 0 0 12px #8fa9c1;
}

.box-s-cg-h-13 {
  transition: box-shadow 2s;
}
.box-s-cg-h-13:hover {
  box-shadow: 0 0 13px #8fa9c1;
}

.box-s-cg-h-14 {
  transition: box-shadow 2s;
}
.box-s-cg-h-14:hover {
  box-shadow: 0 0 14px #8fa9c1;
}

.box-s-cg-h-15 {
  transition: box-shadow 2s;
}
.box-s-cg-h-15:hover {
  box-shadow: 0 0 15px #8fa9c1;
}

.box-s-cg-h-16 {
  transition: box-shadow 2s;
}
.box-s-cg-h-16:hover {
  box-shadow: 0 0 16px #8fa9c1;
}

.box-s-cg-h-17 {
  transition: box-shadow 2s;
}
.box-s-cg-h-17:hover {
  box-shadow: 0 0 17px #8fa9c1;
}

.box-s-cg-h-18 {
  transition: box-shadow 2s;
}
.box-s-cg-h-18:hover {
  box-shadow: 0 0 18px #8fa9c1;
}

.box-s-cg-h-19 {
  transition: box-shadow 2s;
}
.box-s-cg-h-19:hover {
  box-shadow: 0 0 19px #8fa9c1;
}

.box-s-cg-h-20 {
  transition: box-shadow 2s;
}
.box-s-cg-h-20:hover {
  box-shadow: 0 0 20px #8fa9c1;
}

.box-s-cg-h-21 {
  transition: box-shadow 2s;
}
.box-s-cg-h-21:hover {
  box-shadow: 0 0 21px #8fa9c1;
}

.box-s-cg-h-22 {
  transition: box-shadow 2s;
}
.box-s-cg-h-22:hover {
  box-shadow: 0 0 22px #8fa9c1;
}

.box-s-cg-h-23 {
  transition: box-shadow 2s;
}
.box-s-cg-h-23:hover {
  box-shadow: 0 0 23px #8fa9c1;
}

.box-s-cg-h-24 {
  transition: box-shadow 2s;
}
.box-s-cg-h-24:hover {
  box-shadow: 0 0 24px #8fa9c1;
}

.box-s-cg-h-25 {
  transition: box-shadow 2s;
}
.box-s-cg-h-25:hover {
  box-shadow: 0 0 25px #8fa9c1;
}

.box-s-cg-h-26 {
  transition: box-shadow 2s;
}
.box-s-cg-h-26:hover {
  box-shadow: 0 0 26px #8fa9c1;
}

.box-s-cg-h-27 {
  transition: box-shadow 2s;
}
.box-s-cg-h-27:hover {
  box-shadow: 0 0 27px #8fa9c1;
}

.box-s-cg-h-28 {
  transition: box-shadow 2s;
}
.box-s-cg-h-28:hover {
  box-shadow: 0 0 28px #8fa9c1;
}

.box-s-cg-h-29 {
  transition: box-shadow 2s;
}
.box-s-cg-h-29:hover {
  box-shadow: 0 0 29px #8fa9c1;
}

.box-s-cg-h-30 {
  transition: box-shadow 2s;
}
.box-s-cg-h-30:hover {
  box-shadow: 0 0 30px #8fa9c1;
}

.box-s-cg-h-31 {
  transition: box-shadow 2s;
}
.box-s-cg-h-31:hover {
  box-shadow: 0 0 31px #8fa9c1;
}

.box-s-cg-h-32 {
  transition: box-shadow 2s;
}
.box-s-cg-h-32:hover {
  box-shadow: 0 0 32px #8fa9c1;
}

.box-s-cg-h-33 {
  transition: box-shadow 2s;
}
.box-s-cg-h-33:hover {
  box-shadow: 0 0 33px #8fa9c1;
}

.box-s-cg-h-34 {
  transition: box-shadow 2s;
}
.box-s-cg-h-34:hover {
  box-shadow: 0 0 34px #8fa9c1;
}

.box-s-cg-h-35 {
  transition: box-shadow 2s;
}
.box-s-cg-h-35:hover {
  box-shadow: 0 0 35px #8fa9c1;
}

.box-s-cg-h-36 {
  transition: box-shadow 2s;
}
.box-s-cg-h-36:hover {
  box-shadow: 0 0 36px #8fa9c1;
}

.box-s-cg-h-37 {
  transition: box-shadow 2s;
}
.box-s-cg-h-37:hover {
  box-shadow: 0 0 37px #8fa9c1;
}

.box-s-cg-h-38 {
  transition: box-shadow 2s;
}
.box-s-cg-h-38:hover {
  box-shadow: 0 0 38px #8fa9c1;
}

.box-s-cg-h-39 {
  transition: box-shadow 2s;
}
.box-s-cg-h-39:hover {
  box-shadow: 0 0 39px #8fa9c1;
}

.box-s-cg-h-40 {
  transition: box-shadow 2s;
}
.box-s-cg-h-40:hover {
  box-shadow: 0 0 40px #8fa9c1;
}

.box-s-cg-h-41 {
  transition: box-shadow 2s;
}
.box-s-cg-h-41:hover {
  box-shadow: 0 0 41px #8fa9c1;
}

.box-s-cg-h-42 {
  transition: box-shadow 2s;
}
.box-s-cg-h-42:hover {
  box-shadow: 0 0 42px #8fa9c1;
}

.box-s-cg-h-43 {
  transition: box-shadow 2s;
}
.box-s-cg-h-43:hover {
  box-shadow: 0 0 43px #8fa9c1;
}

.box-s-cg-h-44 {
  transition: box-shadow 2s;
}
.box-s-cg-h-44:hover {
  box-shadow: 0 0 44px #8fa9c1;
}

.box-s-cg-h-45 {
  transition: box-shadow 2s;
}
.box-s-cg-h-45:hover {
  box-shadow: 0 0 45px #8fa9c1;
}

.box-s-cg-h-46 {
  transition: box-shadow 2s;
}
.box-s-cg-h-46:hover {
  box-shadow: 0 0 46px #8fa9c1;
}

.box-s-cg-h-47 {
  transition: box-shadow 2s;
}
.box-s-cg-h-47:hover {
  box-shadow: 0 0 47px #8fa9c1;
}

.box-s-cg-h-48 {
  transition: box-shadow 2s;
}
.box-s-cg-h-48:hover {
  box-shadow: 0 0 48px #8fa9c1;
}

.box-s-cg-h-49 {
  transition: box-shadow 2s;
}
.box-s-cg-h-49:hover {
  box-shadow: 0 0 49px #8fa9c1;
}

.box-s-cg-h-50 {
  transition: box-shadow 2s;
}
.box-s-cg-h-50:hover {
  box-shadow: 0 0 50px #8fa9c1;
}

.box-s-cg-h-51 {
  transition: box-shadow 2s;
}
.box-s-cg-h-51:hover {
  box-shadow: 0 0 51px #8fa9c1;
}

.box-s-cg-h-52 {
  transition: box-shadow 2s;
}
.box-s-cg-h-52:hover {
  box-shadow: 0 0 52px #8fa9c1;
}

.box-s-cg-h-53 {
  transition: box-shadow 2s;
}
.box-s-cg-h-53:hover {
  box-shadow: 0 0 53px #8fa9c1;
}

.box-s-cg-h-54 {
  transition: box-shadow 2s;
}
.box-s-cg-h-54:hover {
  box-shadow: 0 0 54px #8fa9c1;
}

.box-s-cg-h-55 {
  transition: box-shadow 2s;
}
.box-s-cg-h-55:hover {
  box-shadow: 0 0 55px #8fa9c1;
}

.box-s-cg-h-56 {
  transition: box-shadow 2s;
}
.box-s-cg-h-56:hover {
  box-shadow: 0 0 56px #8fa9c1;
}

.box-s-cg-h-57 {
  transition: box-shadow 2s;
}
.box-s-cg-h-57:hover {
  box-shadow: 0 0 57px #8fa9c1;
}

.box-s-cg-h-58 {
  transition: box-shadow 2s;
}
.box-s-cg-h-58:hover {
  box-shadow: 0 0 58px #8fa9c1;
}

.box-s-cg-h-59 {
  transition: box-shadow 2s;
}
.box-s-cg-h-59:hover {
  box-shadow: 0 0 59px #8fa9c1;
}

.box-s-cg-h-60 {
  transition: box-shadow 2s;
}
.box-s-cg-h-60:hover {
  box-shadow: 0 0 60px #8fa9c1;
}

.box-s-cg-h-61 {
  transition: box-shadow 2s;
}
.box-s-cg-h-61:hover {
  box-shadow: 0 0 61px #8fa9c1;
}

.box-s-cg-h-62 {
  transition: box-shadow 2s;
}
.box-s-cg-h-62:hover {
  box-shadow: 0 0 62px #8fa9c1;
}

.box-s-cg-h-63 {
  transition: box-shadow 2s;
}
.box-s-cg-h-63:hover {
  box-shadow: 0 0 63px #8fa9c1;
}

.box-s-cg-h-64 {
  transition: box-shadow 2s;
}
.box-s-cg-h-64:hover {
  box-shadow: 0 0 64px #8fa9c1;
}

.box-s-cg-h-65 {
  transition: box-shadow 2s;
}
.box-s-cg-h-65:hover {
  box-shadow: 0 0 65px #8fa9c1;
}

.box-s-cg-h-66 {
  transition: box-shadow 2s;
}
.box-s-cg-h-66:hover {
  box-shadow: 0 0 66px #8fa9c1;
}

.box-s-cg-h-67 {
  transition: box-shadow 2s;
}
.box-s-cg-h-67:hover {
  box-shadow: 0 0 67px #8fa9c1;
}

.box-s-cg-h-68 {
  transition: box-shadow 2s;
}
.box-s-cg-h-68:hover {
  box-shadow: 0 0 68px #8fa9c1;
}

.box-s-cg-h-69 {
  transition: box-shadow 2s;
}
.box-s-cg-h-69:hover {
  box-shadow: 0 0 69px #8fa9c1;
}

.box-s-cg-h-70 {
  transition: box-shadow 2s;
}
.box-s-cg-h-70:hover {
  box-shadow: 0 0 70px #8fa9c1;
}

.box-s-cg-h-71 {
  transition: box-shadow 2s;
}
.box-s-cg-h-71:hover {
  box-shadow: 0 0 71px #8fa9c1;
}

.box-s-cg-h-72 {
  transition: box-shadow 2s;
}
.box-s-cg-h-72:hover {
  box-shadow: 0 0 72px #8fa9c1;
}

.box-s-cg-h-73 {
  transition: box-shadow 2s;
}
.box-s-cg-h-73:hover {
  box-shadow: 0 0 73px #8fa9c1;
}

.box-s-cg-h-74 {
  transition: box-shadow 2s;
}
.box-s-cg-h-74:hover {
  box-shadow: 0 0 74px #8fa9c1;
}

.box-s-cg-h-75 {
  transition: box-shadow 2s;
}
.box-s-cg-h-75:hover {
  box-shadow: 0 0 75px #8fa9c1;
}

.box-s-cg-h-76 {
  transition: box-shadow 2s;
}
.box-s-cg-h-76:hover {
  box-shadow: 0 0 76px #8fa9c1;
}

.box-s-cg-h-77 {
  transition: box-shadow 2s;
}
.box-s-cg-h-77:hover {
  box-shadow: 0 0 77px #8fa9c1;
}

.box-s-cg-h-78 {
  transition: box-shadow 2s;
}
.box-s-cg-h-78:hover {
  box-shadow: 0 0 78px #8fa9c1;
}

.box-s-cg-h-79 {
  transition: box-shadow 2s;
}
.box-s-cg-h-79:hover {
  box-shadow: 0 0 79px #8fa9c1;
}

.box-s-cg-h-80 {
  transition: box-shadow 2s;
}
.box-s-cg-h-80:hover {
  box-shadow: 0 0 80px #8fa9c1;
}

.box-s-cg-h-81 {
  transition: box-shadow 2s;
}
.box-s-cg-h-81:hover {
  box-shadow: 0 0 81px #8fa9c1;
}

.box-s-cg-h-82 {
  transition: box-shadow 2s;
}
.box-s-cg-h-82:hover {
  box-shadow: 0 0 82px #8fa9c1;
}

.box-s-cg-h-83 {
  transition: box-shadow 2s;
}
.box-s-cg-h-83:hover {
  box-shadow: 0 0 83px #8fa9c1;
}

.box-s-cg-h-84 {
  transition: box-shadow 2s;
}
.box-s-cg-h-84:hover {
  box-shadow: 0 0 84px #8fa9c1;
}

.box-s-cg-h-85 {
  transition: box-shadow 2s;
}
.box-s-cg-h-85:hover {
  box-shadow: 0 0 85px #8fa9c1;
}

.box-s-cg-h-86 {
  transition: box-shadow 2s;
}
.box-s-cg-h-86:hover {
  box-shadow: 0 0 86px #8fa9c1;
}

.box-s-cg-h-87 {
  transition: box-shadow 2s;
}
.box-s-cg-h-87:hover {
  box-shadow: 0 0 87px #8fa9c1;
}

.box-s-cg-h-88 {
  transition: box-shadow 2s;
}
.box-s-cg-h-88:hover {
  box-shadow: 0 0 88px #8fa9c1;
}

.box-s-cg-h-89 {
  transition: box-shadow 2s;
}
.box-s-cg-h-89:hover {
  box-shadow: 0 0 89px #8fa9c1;
}

.box-s-cg-h-90 {
  transition: box-shadow 2s;
}
.box-s-cg-h-90:hover {
  box-shadow: 0 0 90px #8fa9c1;
}

.box-s-cg-h-91 {
  transition: box-shadow 2s;
}
.box-s-cg-h-91:hover {
  box-shadow: 0 0 91px #8fa9c1;
}

.box-s-cg-h-92 {
  transition: box-shadow 2s;
}
.box-s-cg-h-92:hover {
  box-shadow: 0 0 92px #8fa9c1;
}

.box-s-cg-h-93 {
  transition: box-shadow 2s;
}
.box-s-cg-h-93:hover {
  box-shadow: 0 0 93px #8fa9c1;
}

.box-s-cg-h-94 {
  transition: box-shadow 2s;
}
.box-s-cg-h-94:hover {
  box-shadow: 0 0 94px #8fa9c1;
}

.box-s-cg-h-95 {
  transition: box-shadow 2s;
}
.box-s-cg-h-95:hover {
  box-shadow: 0 0 95px #8fa9c1;
}

.box-s-cg-h-96 {
  transition: box-shadow 2s;
}
.box-s-cg-h-96:hover {
  box-shadow: 0 0 96px #8fa9c1;
}

.box-s-cg-h-97 {
  transition: box-shadow 2s;
}
.box-s-cg-h-97:hover {
  box-shadow: 0 0 97px #8fa9c1;
}

.box-s-cg-h-98 {
  transition: box-shadow 2s;
}
.box-s-cg-h-98:hover {
  box-shadow: 0 0 98px #8fa9c1;
}

.box-s-cg-h-99 {
  transition: box-shadow 2s;
}
.box-s-cg-h-99:hover {
  box-shadow: 0 0 99px #8fa9c1;
}

.box-s-cg-h-100 {
  transition: box-shadow 2s;
}
.box-s-cg-h-100:hover {
  box-shadow: 0 0 100px #8fa9c1;
}

.box-s-id-1 {
  box-shadow: 0 0 1px #274a71;
}

.box-s-id-2 {
  box-shadow: 0 0 2px #274a71;
}

.box-s-id-3 {
  box-shadow: 0 0 3px #274a71;
}

.box-s-id-4 {
  box-shadow: 0 0 4px #274a71;
}

.box-s-id-5 {
  box-shadow: 0 0 5px #274a71;
}

.box-s-id-6 {
  box-shadow: 0 0 6px #274a71;
}

.box-s-id-7 {
  box-shadow: 0 0 7px #274a71;
}

.box-s-id-8 {
  box-shadow: 0 0 8px #274a71;
}

.box-s-id-9 {
  box-shadow: 0 0 9px #274a71;
}

.box-s-id-10 {
  box-shadow: 0 0 10px #274a71;
}

.box-s-id-11 {
  box-shadow: 0 0 11px #274a71;
}

.box-s-id-12 {
  box-shadow: 0 0 12px #274a71;
}

.box-s-id-13 {
  box-shadow: 0 0 13px #274a71;
}

.box-s-id-14 {
  box-shadow: 0 0 14px #274a71;
}

.box-s-id-15 {
  box-shadow: 0 0 15px #274a71;
}

.box-s-id-16 {
  box-shadow: 0 0 16px #274a71;
}

.box-s-id-17 {
  box-shadow: 0 0 17px #274a71;
}

.box-s-id-18 {
  box-shadow: 0 0 18px #274a71;
}

.box-s-id-19 {
  box-shadow: 0 0 19px #274a71;
}

.box-s-id-20 {
  box-shadow: 0 0 20px #274a71;
}

.box-s-id-21 {
  box-shadow: 0 0 21px #274a71;
}

.box-s-id-22 {
  box-shadow: 0 0 22px #274a71;
}

.box-s-id-23 {
  box-shadow: 0 0 23px #274a71;
}

.box-s-id-24 {
  box-shadow: 0 0 24px #274a71;
}

.box-s-id-25 {
  box-shadow: 0 0 25px #274a71;
}

.box-s-id-26 {
  box-shadow: 0 0 26px #274a71;
}

.box-s-id-27 {
  box-shadow: 0 0 27px #274a71;
}

.box-s-id-28 {
  box-shadow: 0 0 28px #274a71;
}

.box-s-id-29 {
  box-shadow: 0 0 29px #274a71;
}

.box-s-id-30 {
  box-shadow: 0 0 30px #274a71;
}

.box-s-id-31 {
  box-shadow: 0 0 31px #274a71;
}

.box-s-id-32 {
  box-shadow: 0 0 32px #274a71;
}

.box-s-id-33 {
  box-shadow: 0 0 33px #274a71;
}

.box-s-id-34 {
  box-shadow: 0 0 34px #274a71;
}

.box-s-id-35 {
  box-shadow: 0 0 35px #274a71;
}

.box-s-id-36 {
  box-shadow: 0 0 36px #274a71;
}

.box-s-id-37 {
  box-shadow: 0 0 37px #274a71;
}

.box-s-id-38 {
  box-shadow: 0 0 38px #274a71;
}

.box-s-id-39 {
  box-shadow: 0 0 39px #274a71;
}

.box-s-id-40 {
  box-shadow: 0 0 40px #274a71;
}

.box-s-id-41 {
  box-shadow: 0 0 41px #274a71;
}

.box-s-id-42 {
  box-shadow: 0 0 42px #274a71;
}

.box-s-id-43 {
  box-shadow: 0 0 43px #274a71;
}

.box-s-id-44 {
  box-shadow: 0 0 44px #274a71;
}

.box-s-id-45 {
  box-shadow: 0 0 45px #274a71;
}

.box-s-id-46 {
  box-shadow: 0 0 46px #274a71;
}

.box-s-id-47 {
  box-shadow: 0 0 47px #274a71;
}

.box-s-id-48 {
  box-shadow: 0 0 48px #274a71;
}

.box-s-id-49 {
  box-shadow: 0 0 49px #274a71;
}

.box-s-id-50 {
  box-shadow: 0 0 50px #274a71;
}

.box-s-id-51 {
  box-shadow: 0 0 51px #274a71;
}

.box-s-id-52 {
  box-shadow: 0 0 52px #274a71;
}

.box-s-id-53 {
  box-shadow: 0 0 53px #274a71;
}

.box-s-id-54 {
  box-shadow: 0 0 54px #274a71;
}

.box-s-id-55 {
  box-shadow: 0 0 55px #274a71;
}

.box-s-id-56 {
  box-shadow: 0 0 56px #274a71;
}

.box-s-id-57 {
  box-shadow: 0 0 57px #274a71;
}

.box-s-id-58 {
  box-shadow: 0 0 58px #274a71;
}

.box-s-id-59 {
  box-shadow: 0 0 59px #274a71;
}

.box-s-id-60 {
  box-shadow: 0 0 60px #274a71;
}

.box-s-id-61 {
  box-shadow: 0 0 61px #274a71;
}

.box-s-id-62 {
  box-shadow: 0 0 62px #274a71;
}

.box-s-id-63 {
  box-shadow: 0 0 63px #274a71;
}

.box-s-id-64 {
  box-shadow: 0 0 64px #274a71;
}

.box-s-id-65 {
  box-shadow: 0 0 65px #274a71;
}

.box-s-id-66 {
  box-shadow: 0 0 66px #274a71;
}

.box-s-id-67 {
  box-shadow: 0 0 67px #274a71;
}

.box-s-id-68 {
  box-shadow: 0 0 68px #274a71;
}

.box-s-id-69 {
  box-shadow: 0 0 69px #274a71;
}

.box-s-id-70 {
  box-shadow: 0 0 70px #274a71;
}

.box-s-id-71 {
  box-shadow: 0 0 71px #274a71;
}

.box-s-id-72 {
  box-shadow: 0 0 72px #274a71;
}

.box-s-id-73 {
  box-shadow: 0 0 73px #274a71;
}

.box-s-id-74 {
  box-shadow: 0 0 74px #274a71;
}

.box-s-id-75 {
  box-shadow: 0 0 75px #274a71;
}

.box-s-id-76 {
  box-shadow: 0 0 76px #274a71;
}

.box-s-id-77 {
  box-shadow: 0 0 77px #274a71;
}

.box-s-id-78 {
  box-shadow: 0 0 78px #274a71;
}

.box-s-id-79 {
  box-shadow: 0 0 79px #274a71;
}

.box-s-id-80 {
  box-shadow: 0 0 80px #274a71;
}

.box-s-id-81 {
  box-shadow: 0 0 81px #274a71;
}

.box-s-id-82 {
  box-shadow: 0 0 82px #274a71;
}

.box-s-id-83 {
  box-shadow: 0 0 83px #274a71;
}

.box-s-id-84 {
  box-shadow: 0 0 84px #274a71;
}

.box-s-id-85 {
  box-shadow: 0 0 85px #274a71;
}

.box-s-id-86 {
  box-shadow: 0 0 86px #274a71;
}

.box-s-id-87 {
  box-shadow: 0 0 87px #274a71;
}

.box-s-id-88 {
  box-shadow: 0 0 88px #274a71;
}

.box-s-id-89 {
  box-shadow: 0 0 89px #274a71;
}

.box-s-id-90 {
  box-shadow: 0 0 90px #274a71;
}

.box-s-id-91 {
  box-shadow: 0 0 91px #274a71;
}

.box-s-id-92 {
  box-shadow: 0 0 92px #274a71;
}

.box-s-id-93 {
  box-shadow: 0 0 93px #274a71;
}

.box-s-id-94 {
  box-shadow: 0 0 94px #274a71;
}

.box-s-id-95 {
  box-shadow: 0 0 95px #274a71;
}

.box-s-id-96 {
  box-shadow: 0 0 96px #274a71;
}

.box-s-id-97 {
  box-shadow: 0 0 97px #274a71;
}

.box-s-id-98 {
  box-shadow: 0 0 98px #274a71;
}

.box-s-id-99 {
  box-shadow: 0 0 99px #274a71;
}

.box-s-id-100 {
  box-shadow: 0 0 100px #274a71;
}

.box-s-id-h-1 {
  transition: box-shadow 2s;
}
.box-s-id-h-1:hover {
  box-shadow: 0 0 1px #274a71;
}

.box-s-id-h-2 {
  transition: box-shadow 2s;
}
.box-s-id-h-2:hover {
  box-shadow: 0 0 2px #274a71;
}

.box-s-id-h-3 {
  transition: box-shadow 2s;
}
.box-s-id-h-3:hover {
  box-shadow: 0 0 3px #274a71;
}

.box-s-id-h-4 {
  transition: box-shadow 2s;
}
.box-s-id-h-4:hover {
  box-shadow: 0 0 4px #274a71;
}

.box-s-id-h-5 {
  transition: box-shadow 2s;
}
.box-s-id-h-5:hover {
  box-shadow: 0 0 5px #274a71;
}

.box-s-id-h-6 {
  transition: box-shadow 2s;
}
.box-s-id-h-6:hover {
  box-shadow: 0 0 6px #274a71;
}

.box-s-id-h-7 {
  transition: box-shadow 2s;
}
.box-s-id-h-7:hover {
  box-shadow: 0 0 7px #274a71;
}

.box-s-id-h-8 {
  transition: box-shadow 2s;
}
.box-s-id-h-8:hover {
  box-shadow: 0 0 8px #274a71;
}

.box-s-id-h-9 {
  transition: box-shadow 2s;
}
.box-s-id-h-9:hover {
  box-shadow: 0 0 9px #274a71;
}

.box-s-id-h-10 {
  transition: box-shadow 2s;
}
.box-s-id-h-10:hover {
  box-shadow: 0 0 10px #274a71;
}

.box-s-id-h-11 {
  transition: box-shadow 2s;
}
.box-s-id-h-11:hover {
  box-shadow: 0 0 11px #274a71;
}

.box-s-id-h-12 {
  transition: box-shadow 2s;
}
.box-s-id-h-12:hover {
  box-shadow: 0 0 12px #274a71;
}

.box-s-id-h-13 {
  transition: box-shadow 2s;
}
.box-s-id-h-13:hover {
  box-shadow: 0 0 13px #274a71;
}

.box-s-id-h-14 {
  transition: box-shadow 2s;
}
.box-s-id-h-14:hover {
  box-shadow: 0 0 14px #274a71;
}

.box-s-id-h-15 {
  transition: box-shadow 2s;
}
.box-s-id-h-15:hover {
  box-shadow: 0 0 15px #274a71;
}

.box-s-id-h-16 {
  transition: box-shadow 2s;
}
.box-s-id-h-16:hover {
  box-shadow: 0 0 16px #274a71;
}

.box-s-id-h-17 {
  transition: box-shadow 2s;
}
.box-s-id-h-17:hover {
  box-shadow: 0 0 17px #274a71;
}

.box-s-id-h-18 {
  transition: box-shadow 2s;
}
.box-s-id-h-18:hover {
  box-shadow: 0 0 18px #274a71;
}

.box-s-id-h-19 {
  transition: box-shadow 2s;
}
.box-s-id-h-19:hover {
  box-shadow: 0 0 19px #274a71;
}

.box-s-id-h-20 {
  transition: box-shadow 2s;
}
.box-s-id-h-20:hover {
  box-shadow: 0 0 20px #274a71;
}

.box-s-id-h-21 {
  transition: box-shadow 2s;
}
.box-s-id-h-21:hover {
  box-shadow: 0 0 21px #274a71;
}

.box-s-id-h-22 {
  transition: box-shadow 2s;
}
.box-s-id-h-22:hover {
  box-shadow: 0 0 22px #274a71;
}

.box-s-id-h-23 {
  transition: box-shadow 2s;
}
.box-s-id-h-23:hover {
  box-shadow: 0 0 23px #274a71;
}

.box-s-id-h-24 {
  transition: box-shadow 2s;
}
.box-s-id-h-24:hover {
  box-shadow: 0 0 24px #274a71;
}

.box-s-id-h-25 {
  transition: box-shadow 2s;
}
.box-s-id-h-25:hover {
  box-shadow: 0 0 25px #274a71;
}

.box-s-id-h-26 {
  transition: box-shadow 2s;
}
.box-s-id-h-26:hover {
  box-shadow: 0 0 26px #274a71;
}

.box-s-id-h-27 {
  transition: box-shadow 2s;
}
.box-s-id-h-27:hover {
  box-shadow: 0 0 27px #274a71;
}

.box-s-id-h-28 {
  transition: box-shadow 2s;
}
.box-s-id-h-28:hover {
  box-shadow: 0 0 28px #274a71;
}

.box-s-id-h-29 {
  transition: box-shadow 2s;
}
.box-s-id-h-29:hover {
  box-shadow: 0 0 29px #274a71;
}

.box-s-id-h-30 {
  transition: box-shadow 2s;
}
.box-s-id-h-30:hover {
  box-shadow: 0 0 30px #274a71;
}

.box-s-id-h-31 {
  transition: box-shadow 2s;
}
.box-s-id-h-31:hover {
  box-shadow: 0 0 31px #274a71;
}

.box-s-id-h-32 {
  transition: box-shadow 2s;
}
.box-s-id-h-32:hover {
  box-shadow: 0 0 32px #274a71;
}

.box-s-id-h-33 {
  transition: box-shadow 2s;
}
.box-s-id-h-33:hover {
  box-shadow: 0 0 33px #274a71;
}

.box-s-id-h-34 {
  transition: box-shadow 2s;
}
.box-s-id-h-34:hover {
  box-shadow: 0 0 34px #274a71;
}

.box-s-id-h-35 {
  transition: box-shadow 2s;
}
.box-s-id-h-35:hover {
  box-shadow: 0 0 35px #274a71;
}

.box-s-id-h-36 {
  transition: box-shadow 2s;
}
.box-s-id-h-36:hover {
  box-shadow: 0 0 36px #274a71;
}

.box-s-id-h-37 {
  transition: box-shadow 2s;
}
.box-s-id-h-37:hover {
  box-shadow: 0 0 37px #274a71;
}

.box-s-id-h-38 {
  transition: box-shadow 2s;
}
.box-s-id-h-38:hover {
  box-shadow: 0 0 38px #274a71;
}

.box-s-id-h-39 {
  transition: box-shadow 2s;
}
.box-s-id-h-39:hover {
  box-shadow: 0 0 39px #274a71;
}

.box-s-id-h-40 {
  transition: box-shadow 2s;
}
.box-s-id-h-40:hover {
  box-shadow: 0 0 40px #274a71;
}

.box-s-id-h-41 {
  transition: box-shadow 2s;
}
.box-s-id-h-41:hover {
  box-shadow: 0 0 41px #274a71;
}

.box-s-id-h-42 {
  transition: box-shadow 2s;
}
.box-s-id-h-42:hover {
  box-shadow: 0 0 42px #274a71;
}

.box-s-id-h-43 {
  transition: box-shadow 2s;
}
.box-s-id-h-43:hover {
  box-shadow: 0 0 43px #274a71;
}

.box-s-id-h-44 {
  transition: box-shadow 2s;
}
.box-s-id-h-44:hover {
  box-shadow: 0 0 44px #274a71;
}

.box-s-id-h-45 {
  transition: box-shadow 2s;
}
.box-s-id-h-45:hover {
  box-shadow: 0 0 45px #274a71;
}

.box-s-id-h-46 {
  transition: box-shadow 2s;
}
.box-s-id-h-46:hover {
  box-shadow: 0 0 46px #274a71;
}

.box-s-id-h-47 {
  transition: box-shadow 2s;
}
.box-s-id-h-47:hover {
  box-shadow: 0 0 47px #274a71;
}

.box-s-id-h-48 {
  transition: box-shadow 2s;
}
.box-s-id-h-48:hover {
  box-shadow: 0 0 48px #274a71;
}

.box-s-id-h-49 {
  transition: box-shadow 2s;
}
.box-s-id-h-49:hover {
  box-shadow: 0 0 49px #274a71;
}

.box-s-id-h-50 {
  transition: box-shadow 2s;
}
.box-s-id-h-50:hover {
  box-shadow: 0 0 50px #274a71;
}

.box-s-id-h-51 {
  transition: box-shadow 2s;
}
.box-s-id-h-51:hover {
  box-shadow: 0 0 51px #274a71;
}

.box-s-id-h-52 {
  transition: box-shadow 2s;
}
.box-s-id-h-52:hover {
  box-shadow: 0 0 52px #274a71;
}

.box-s-id-h-53 {
  transition: box-shadow 2s;
}
.box-s-id-h-53:hover {
  box-shadow: 0 0 53px #274a71;
}

.box-s-id-h-54 {
  transition: box-shadow 2s;
}
.box-s-id-h-54:hover {
  box-shadow: 0 0 54px #274a71;
}

.box-s-id-h-55 {
  transition: box-shadow 2s;
}
.box-s-id-h-55:hover {
  box-shadow: 0 0 55px #274a71;
}

.box-s-id-h-56 {
  transition: box-shadow 2s;
}
.box-s-id-h-56:hover {
  box-shadow: 0 0 56px #274a71;
}

.box-s-id-h-57 {
  transition: box-shadow 2s;
}
.box-s-id-h-57:hover {
  box-shadow: 0 0 57px #274a71;
}

.box-s-id-h-58 {
  transition: box-shadow 2s;
}
.box-s-id-h-58:hover {
  box-shadow: 0 0 58px #274a71;
}

.box-s-id-h-59 {
  transition: box-shadow 2s;
}
.box-s-id-h-59:hover {
  box-shadow: 0 0 59px #274a71;
}

.box-s-id-h-60 {
  transition: box-shadow 2s;
}
.box-s-id-h-60:hover {
  box-shadow: 0 0 60px #274a71;
}

.box-s-id-h-61 {
  transition: box-shadow 2s;
}
.box-s-id-h-61:hover {
  box-shadow: 0 0 61px #274a71;
}

.box-s-id-h-62 {
  transition: box-shadow 2s;
}
.box-s-id-h-62:hover {
  box-shadow: 0 0 62px #274a71;
}

.box-s-id-h-63 {
  transition: box-shadow 2s;
}
.box-s-id-h-63:hover {
  box-shadow: 0 0 63px #274a71;
}

.box-s-id-h-64 {
  transition: box-shadow 2s;
}
.box-s-id-h-64:hover {
  box-shadow: 0 0 64px #274a71;
}

.box-s-id-h-65 {
  transition: box-shadow 2s;
}
.box-s-id-h-65:hover {
  box-shadow: 0 0 65px #274a71;
}

.box-s-id-h-66 {
  transition: box-shadow 2s;
}
.box-s-id-h-66:hover {
  box-shadow: 0 0 66px #274a71;
}

.box-s-id-h-67 {
  transition: box-shadow 2s;
}
.box-s-id-h-67:hover {
  box-shadow: 0 0 67px #274a71;
}

.box-s-id-h-68 {
  transition: box-shadow 2s;
}
.box-s-id-h-68:hover {
  box-shadow: 0 0 68px #274a71;
}

.box-s-id-h-69 {
  transition: box-shadow 2s;
}
.box-s-id-h-69:hover {
  box-shadow: 0 0 69px #274a71;
}

.box-s-id-h-70 {
  transition: box-shadow 2s;
}
.box-s-id-h-70:hover {
  box-shadow: 0 0 70px #274a71;
}

.box-s-id-h-71 {
  transition: box-shadow 2s;
}
.box-s-id-h-71:hover {
  box-shadow: 0 0 71px #274a71;
}

.box-s-id-h-72 {
  transition: box-shadow 2s;
}
.box-s-id-h-72:hover {
  box-shadow: 0 0 72px #274a71;
}

.box-s-id-h-73 {
  transition: box-shadow 2s;
}
.box-s-id-h-73:hover {
  box-shadow: 0 0 73px #274a71;
}

.box-s-id-h-74 {
  transition: box-shadow 2s;
}
.box-s-id-h-74:hover {
  box-shadow: 0 0 74px #274a71;
}

.box-s-id-h-75 {
  transition: box-shadow 2s;
}
.box-s-id-h-75:hover {
  box-shadow: 0 0 75px #274a71;
}

.box-s-id-h-76 {
  transition: box-shadow 2s;
}
.box-s-id-h-76:hover {
  box-shadow: 0 0 76px #274a71;
}

.box-s-id-h-77 {
  transition: box-shadow 2s;
}
.box-s-id-h-77:hover {
  box-shadow: 0 0 77px #274a71;
}

.box-s-id-h-78 {
  transition: box-shadow 2s;
}
.box-s-id-h-78:hover {
  box-shadow: 0 0 78px #274a71;
}

.box-s-id-h-79 {
  transition: box-shadow 2s;
}
.box-s-id-h-79:hover {
  box-shadow: 0 0 79px #274a71;
}

.box-s-id-h-80 {
  transition: box-shadow 2s;
}
.box-s-id-h-80:hover {
  box-shadow: 0 0 80px #274a71;
}

.box-s-id-h-81 {
  transition: box-shadow 2s;
}
.box-s-id-h-81:hover {
  box-shadow: 0 0 81px #274a71;
}

.box-s-id-h-82 {
  transition: box-shadow 2s;
}
.box-s-id-h-82:hover {
  box-shadow: 0 0 82px #274a71;
}

.box-s-id-h-83 {
  transition: box-shadow 2s;
}
.box-s-id-h-83:hover {
  box-shadow: 0 0 83px #274a71;
}

.box-s-id-h-84 {
  transition: box-shadow 2s;
}
.box-s-id-h-84:hover {
  box-shadow: 0 0 84px #274a71;
}

.box-s-id-h-85 {
  transition: box-shadow 2s;
}
.box-s-id-h-85:hover {
  box-shadow: 0 0 85px #274a71;
}

.box-s-id-h-86 {
  transition: box-shadow 2s;
}
.box-s-id-h-86:hover {
  box-shadow: 0 0 86px #274a71;
}

.box-s-id-h-87 {
  transition: box-shadow 2s;
}
.box-s-id-h-87:hover {
  box-shadow: 0 0 87px #274a71;
}

.box-s-id-h-88 {
  transition: box-shadow 2s;
}
.box-s-id-h-88:hover {
  box-shadow: 0 0 88px #274a71;
}

.box-s-id-h-89 {
  transition: box-shadow 2s;
}
.box-s-id-h-89:hover {
  box-shadow: 0 0 89px #274a71;
}

.box-s-id-h-90 {
  transition: box-shadow 2s;
}
.box-s-id-h-90:hover {
  box-shadow: 0 0 90px #274a71;
}

.box-s-id-h-91 {
  transition: box-shadow 2s;
}
.box-s-id-h-91:hover {
  box-shadow: 0 0 91px #274a71;
}

.box-s-id-h-92 {
  transition: box-shadow 2s;
}
.box-s-id-h-92:hover {
  box-shadow: 0 0 92px #274a71;
}

.box-s-id-h-93 {
  transition: box-shadow 2s;
}
.box-s-id-h-93:hover {
  box-shadow: 0 0 93px #274a71;
}

.box-s-id-h-94 {
  transition: box-shadow 2s;
}
.box-s-id-h-94:hover {
  box-shadow: 0 0 94px #274a71;
}

.box-s-id-h-95 {
  transition: box-shadow 2s;
}
.box-s-id-h-95:hover {
  box-shadow: 0 0 95px #274a71;
}

.box-s-id-h-96 {
  transition: box-shadow 2s;
}
.box-s-id-h-96:hover {
  box-shadow: 0 0 96px #274a71;
}

.box-s-id-h-97 {
  transition: box-shadow 2s;
}
.box-s-id-h-97:hover {
  box-shadow: 0 0 97px #274a71;
}

.box-s-id-h-98 {
  transition: box-shadow 2s;
}
.box-s-id-h-98:hover {
  box-shadow: 0 0 98px #274a71;
}

.box-s-id-h-99 {
  transition: box-shadow 2s;
}
.box-s-id-h-99:hover {
  box-shadow: 0 0 99px #274a71;
}

.box-s-id-h-100 {
  transition: box-shadow 2s;
}
.box-s-id-h-100:hover {
  box-shadow: 0 0 100px #274a71;
}

.box-s-pb-1 {
  box-shadow: 0 0 1px #1f3958;
}

.box-s-pb-2 {
  box-shadow: 0 0 2px #1f3958;
}

.box-s-pb-3 {
  box-shadow: 0 0 3px #1f3958;
}

.box-s-pb-4 {
  box-shadow: 0 0 4px #1f3958;
}

.box-s-pb-5 {
  box-shadow: 0 0 5px #1f3958;
}

.box-s-pb-6 {
  box-shadow: 0 0 6px #1f3958;
}

.box-s-pb-7 {
  box-shadow: 0 0 7px #1f3958;
}

.box-s-pb-8 {
  box-shadow: 0 0 8px #1f3958;
}

.box-s-pb-9 {
  box-shadow: 0 0 9px #1f3958;
}

.box-s-pb-10 {
  box-shadow: 0 0 10px #1f3958;
}

.box-s-pb-11 {
  box-shadow: 0 0 11px #1f3958;
}

.box-s-pb-12 {
  box-shadow: 0 0 12px #1f3958;
}

.box-s-pb-13 {
  box-shadow: 0 0 13px #1f3958;
}

.box-s-pb-14 {
  box-shadow: 0 0 14px #1f3958;
}

.box-s-pb-15 {
  box-shadow: 0 0 15px #1f3958;
}

.box-s-pb-16 {
  box-shadow: 0 0 16px #1f3958;
}

.box-s-pb-17 {
  box-shadow: 0 0 17px #1f3958;
}

.box-s-pb-18 {
  box-shadow: 0 0 18px #1f3958;
}

.box-s-pb-19 {
  box-shadow: 0 0 19px #1f3958;
}

.box-s-pb-20 {
  box-shadow: 0 0 20px #1f3958;
}

.box-s-pb-21 {
  box-shadow: 0 0 21px #1f3958;
}

.box-s-pb-22 {
  box-shadow: 0 0 22px #1f3958;
}

.box-s-pb-23 {
  box-shadow: 0 0 23px #1f3958;
}

.box-s-pb-24 {
  box-shadow: 0 0 24px #1f3958;
}

.box-s-pb-25 {
  box-shadow: 0 0 25px #1f3958;
}

.box-s-pb-26 {
  box-shadow: 0 0 26px #1f3958;
}

.box-s-pb-27 {
  box-shadow: 0 0 27px #1f3958;
}

.box-s-pb-28 {
  box-shadow: 0 0 28px #1f3958;
}

.box-s-pb-29 {
  box-shadow: 0 0 29px #1f3958;
}

.box-s-pb-30 {
  box-shadow: 0 0 30px #1f3958;
}

.box-s-pb-31 {
  box-shadow: 0 0 31px #1f3958;
}

.box-s-pb-32 {
  box-shadow: 0 0 32px #1f3958;
}

.box-s-pb-33 {
  box-shadow: 0 0 33px #1f3958;
}

.box-s-pb-34 {
  box-shadow: 0 0 34px #1f3958;
}

.box-s-pb-35 {
  box-shadow: 0 0 35px #1f3958;
}

.box-s-pb-36 {
  box-shadow: 0 0 36px #1f3958;
}

.box-s-pb-37 {
  box-shadow: 0 0 37px #1f3958;
}

.box-s-pb-38 {
  box-shadow: 0 0 38px #1f3958;
}

.box-s-pb-39 {
  box-shadow: 0 0 39px #1f3958;
}

.box-s-pb-40 {
  box-shadow: 0 0 40px #1f3958;
}

.box-s-pb-41 {
  box-shadow: 0 0 41px #1f3958;
}

.box-s-pb-42 {
  box-shadow: 0 0 42px #1f3958;
}

.box-s-pb-43 {
  box-shadow: 0 0 43px #1f3958;
}

.box-s-pb-44 {
  box-shadow: 0 0 44px #1f3958;
}

.box-s-pb-45 {
  box-shadow: 0 0 45px #1f3958;
}

.box-s-pb-46 {
  box-shadow: 0 0 46px #1f3958;
}

.box-s-pb-47 {
  box-shadow: 0 0 47px #1f3958;
}

.box-s-pb-48 {
  box-shadow: 0 0 48px #1f3958;
}

.box-s-pb-49 {
  box-shadow: 0 0 49px #1f3958;
}

.box-s-pb-50 {
  box-shadow: 0 0 50px #1f3958;
}

.box-s-pb-51 {
  box-shadow: 0 0 51px #1f3958;
}

.box-s-pb-52 {
  box-shadow: 0 0 52px #1f3958;
}

.box-s-pb-53 {
  box-shadow: 0 0 53px #1f3958;
}

.box-s-pb-54 {
  box-shadow: 0 0 54px #1f3958;
}

.box-s-pb-55 {
  box-shadow: 0 0 55px #1f3958;
}

.box-s-pb-56 {
  box-shadow: 0 0 56px #1f3958;
}

.box-s-pb-57 {
  box-shadow: 0 0 57px #1f3958;
}

.box-s-pb-58 {
  box-shadow: 0 0 58px #1f3958;
}

.box-s-pb-59 {
  box-shadow: 0 0 59px #1f3958;
}

.box-s-pb-60 {
  box-shadow: 0 0 60px #1f3958;
}

.box-s-pb-61 {
  box-shadow: 0 0 61px #1f3958;
}

.box-s-pb-62 {
  box-shadow: 0 0 62px #1f3958;
}

.box-s-pb-63 {
  box-shadow: 0 0 63px #1f3958;
}

.box-s-pb-64 {
  box-shadow: 0 0 64px #1f3958;
}

.box-s-pb-65 {
  box-shadow: 0 0 65px #1f3958;
}

.box-s-pb-66 {
  box-shadow: 0 0 66px #1f3958;
}

.box-s-pb-67 {
  box-shadow: 0 0 67px #1f3958;
}

.box-s-pb-68 {
  box-shadow: 0 0 68px #1f3958;
}

.box-s-pb-69 {
  box-shadow: 0 0 69px #1f3958;
}

.box-s-pb-70 {
  box-shadow: 0 0 70px #1f3958;
}

.box-s-pb-71 {
  box-shadow: 0 0 71px #1f3958;
}

.box-s-pb-72 {
  box-shadow: 0 0 72px #1f3958;
}

.box-s-pb-73 {
  box-shadow: 0 0 73px #1f3958;
}

.box-s-pb-74 {
  box-shadow: 0 0 74px #1f3958;
}

.box-s-pb-75 {
  box-shadow: 0 0 75px #1f3958;
}

.box-s-pb-76 {
  box-shadow: 0 0 76px #1f3958;
}

.box-s-pb-77 {
  box-shadow: 0 0 77px #1f3958;
}

.box-s-pb-78 {
  box-shadow: 0 0 78px #1f3958;
}

.box-s-pb-79 {
  box-shadow: 0 0 79px #1f3958;
}

.box-s-pb-80 {
  box-shadow: 0 0 80px #1f3958;
}

.box-s-pb-81 {
  box-shadow: 0 0 81px #1f3958;
}

.box-s-pb-82 {
  box-shadow: 0 0 82px #1f3958;
}

.box-s-pb-83 {
  box-shadow: 0 0 83px #1f3958;
}

.box-s-pb-84 {
  box-shadow: 0 0 84px #1f3958;
}

.box-s-pb-85 {
  box-shadow: 0 0 85px #1f3958;
}

.box-s-pb-86 {
  box-shadow: 0 0 86px #1f3958;
}

.box-s-pb-87 {
  box-shadow: 0 0 87px #1f3958;
}

.box-s-pb-88 {
  box-shadow: 0 0 88px #1f3958;
}

.box-s-pb-89 {
  box-shadow: 0 0 89px #1f3958;
}

.box-s-pb-90 {
  box-shadow: 0 0 90px #1f3958;
}

.box-s-pb-91 {
  box-shadow: 0 0 91px #1f3958;
}

.box-s-pb-92 {
  box-shadow: 0 0 92px #1f3958;
}

.box-s-pb-93 {
  box-shadow: 0 0 93px #1f3958;
}

.box-s-pb-94 {
  box-shadow: 0 0 94px #1f3958;
}

.box-s-pb-95 {
  box-shadow: 0 0 95px #1f3958;
}

.box-s-pb-96 {
  box-shadow: 0 0 96px #1f3958;
}

.box-s-pb-97 {
  box-shadow: 0 0 97px #1f3958;
}

.box-s-pb-98 {
  box-shadow: 0 0 98px #1f3958;
}

.box-s-pb-99 {
  box-shadow: 0 0 99px #1f3958;
}

.box-s-pb-100 {
  box-shadow: 0 0 100px #1f3958;
}

.box-s-pb-h-1 {
  transition: box-shadow 2s;
}
.box-s-pb-h-1 :hover {
  box-shadow: 0 0 1px #1f3958;
}

.box-s-pb-h-2 {
  transition: box-shadow 2s;
}
.box-s-pb-h-2 :hover {
  box-shadow: 0 0 2px #1f3958;
}

.box-s-pb-h-3 {
  transition: box-shadow 2s;
}
.box-s-pb-h-3 :hover {
  box-shadow: 0 0 3px #1f3958;
}

.box-s-pb-h-4 {
  transition: box-shadow 2s;
}
.box-s-pb-h-4 :hover {
  box-shadow: 0 0 4px #1f3958;
}

.box-s-pb-h-5 {
  transition: box-shadow 2s;
}
.box-s-pb-h-5 :hover {
  box-shadow: 0 0 5px #1f3958;
}

.box-s-pb-h-6 {
  transition: box-shadow 2s;
}
.box-s-pb-h-6 :hover {
  box-shadow: 0 0 6px #1f3958;
}

.box-s-pb-h-7 {
  transition: box-shadow 2s;
}
.box-s-pb-h-7 :hover {
  box-shadow: 0 0 7px #1f3958;
}

.box-s-pb-h-8 {
  transition: box-shadow 2s;
}
.box-s-pb-h-8 :hover {
  box-shadow: 0 0 8px #1f3958;
}

.box-s-pb-h-9 {
  transition: box-shadow 2s;
}
.box-s-pb-h-9 :hover {
  box-shadow: 0 0 9px #1f3958;
}

.box-s-pb-h-10 {
  transition: box-shadow 2s;
}
.box-s-pb-h-10 :hover {
  box-shadow: 0 0 10px #1f3958;
}

.box-s-pb-h-11 {
  transition: box-shadow 2s;
}
.box-s-pb-h-11 :hover {
  box-shadow: 0 0 11px #1f3958;
}

.box-s-pb-h-12 {
  transition: box-shadow 2s;
}
.box-s-pb-h-12 :hover {
  box-shadow: 0 0 12px #1f3958;
}

.box-s-pb-h-13 {
  transition: box-shadow 2s;
}
.box-s-pb-h-13 :hover {
  box-shadow: 0 0 13px #1f3958;
}

.box-s-pb-h-14 {
  transition: box-shadow 2s;
}
.box-s-pb-h-14 :hover {
  box-shadow: 0 0 14px #1f3958;
}

.box-s-pb-h-15 {
  transition: box-shadow 2s;
}
.box-s-pb-h-15 :hover {
  box-shadow: 0 0 15px #1f3958;
}

.box-s-pb-h-16 {
  transition: box-shadow 2s;
}
.box-s-pb-h-16 :hover {
  box-shadow: 0 0 16px #1f3958;
}

.box-s-pb-h-17 {
  transition: box-shadow 2s;
}
.box-s-pb-h-17 :hover {
  box-shadow: 0 0 17px #1f3958;
}

.box-s-pb-h-18 {
  transition: box-shadow 2s;
}
.box-s-pb-h-18 :hover {
  box-shadow: 0 0 18px #1f3958;
}

.box-s-pb-h-19 {
  transition: box-shadow 2s;
}
.box-s-pb-h-19 :hover {
  box-shadow: 0 0 19px #1f3958;
}

.box-s-pb-h-20 {
  transition: box-shadow 2s;
}
.box-s-pb-h-20 :hover {
  box-shadow: 0 0 20px #1f3958;
}

.box-s-pb-h-21 {
  transition: box-shadow 2s;
}
.box-s-pb-h-21 :hover {
  box-shadow: 0 0 21px #1f3958;
}

.box-s-pb-h-22 {
  transition: box-shadow 2s;
}
.box-s-pb-h-22 :hover {
  box-shadow: 0 0 22px #1f3958;
}

.box-s-pb-h-23 {
  transition: box-shadow 2s;
}
.box-s-pb-h-23 :hover {
  box-shadow: 0 0 23px #1f3958;
}

.box-s-pb-h-24 {
  transition: box-shadow 2s;
}
.box-s-pb-h-24 :hover {
  box-shadow: 0 0 24px #1f3958;
}

.box-s-pb-h-25 {
  transition: box-shadow 2s;
}
.box-s-pb-h-25 :hover {
  box-shadow: 0 0 25px #1f3958;
}

.box-s-pb-h-26 {
  transition: box-shadow 2s;
}
.box-s-pb-h-26 :hover {
  box-shadow: 0 0 26px #1f3958;
}

.box-s-pb-h-27 {
  transition: box-shadow 2s;
}
.box-s-pb-h-27 :hover {
  box-shadow: 0 0 27px #1f3958;
}

.box-s-pb-h-28 {
  transition: box-shadow 2s;
}
.box-s-pb-h-28 :hover {
  box-shadow: 0 0 28px #1f3958;
}

.box-s-pb-h-29 {
  transition: box-shadow 2s;
}
.box-s-pb-h-29 :hover {
  box-shadow: 0 0 29px #1f3958;
}

.box-s-pb-h-30 {
  transition: box-shadow 2s;
}
.box-s-pb-h-30 :hover {
  box-shadow: 0 0 30px #1f3958;
}

.box-s-pb-h-31 {
  transition: box-shadow 2s;
}
.box-s-pb-h-31 :hover {
  box-shadow: 0 0 31px #1f3958;
}

.box-s-pb-h-32 {
  transition: box-shadow 2s;
}
.box-s-pb-h-32 :hover {
  box-shadow: 0 0 32px #1f3958;
}

.box-s-pb-h-33 {
  transition: box-shadow 2s;
}
.box-s-pb-h-33 :hover {
  box-shadow: 0 0 33px #1f3958;
}

.box-s-pb-h-34 {
  transition: box-shadow 2s;
}
.box-s-pb-h-34 :hover {
  box-shadow: 0 0 34px #1f3958;
}

.box-s-pb-h-35 {
  transition: box-shadow 2s;
}
.box-s-pb-h-35 :hover {
  box-shadow: 0 0 35px #1f3958;
}

.box-s-pb-h-36 {
  transition: box-shadow 2s;
}
.box-s-pb-h-36 :hover {
  box-shadow: 0 0 36px #1f3958;
}

.box-s-pb-h-37 {
  transition: box-shadow 2s;
}
.box-s-pb-h-37 :hover {
  box-shadow: 0 0 37px #1f3958;
}

.box-s-pb-h-38 {
  transition: box-shadow 2s;
}
.box-s-pb-h-38 :hover {
  box-shadow: 0 0 38px #1f3958;
}

.box-s-pb-h-39 {
  transition: box-shadow 2s;
}
.box-s-pb-h-39 :hover {
  box-shadow: 0 0 39px #1f3958;
}

.box-s-pb-h-40 {
  transition: box-shadow 2s;
}
.box-s-pb-h-40 :hover {
  box-shadow: 0 0 40px #1f3958;
}

.box-s-pb-h-41 {
  transition: box-shadow 2s;
}
.box-s-pb-h-41 :hover {
  box-shadow: 0 0 41px #1f3958;
}

.box-s-pb-h-42 {
  transition: box-shadow 2s;
}
.box-s-pb-h-42 :hover {
  box-shadow: 0 0 42px #1f3958;
}

.box-s-pb-h-43 {
  transition: box-shadow 2s;
}
.box-s-pb-h-43 :hover {
  box-shadow: 0 0 43px #1f3958;
}

.box-s-pb-h-44 {
  transition: box-shadow 2s;
}
.box-s-pb-h-44 :hover {
  box-shadow: 0 0 44px #1f3958;
}

.box-s-pb-h-45 {
  transition: box-shadow 2s;
}
.box-s-pb-h-45 :hover {
  box-shadow: 0 0 45px #1f3958;
}

.box-s-pb-h-46 {
  transition: box-shadow 2s;
}
.box-s-pb-h-46 :hover {
  box-shadow: 0 0 46px #1f3958;
}

.box-s-pb-h-47 {
  transition: box-shadow 2s;
}
.box-s-pb-h-47 :hover {
  box-shadow: 0 0 47px #1f3958;
}

.box-s-pb-h-48 {
  transition: box-shadow 2s;
}
.box-s-pb-h-48 :hover {
  box-shadow: 0 0 48px #1f3958;
}

.box-s-pb-h-49 {
  transition: box-shadow 2s;
}
.box-s-pb-h-49 :hover {
  box-shadow: 0 0 49px #1f3958;
}

.box-s-pb-h-50 {
  transition: box-shadow 2s;
}
.box-s-pb-h-50 :hover {
  box-shadow: 0 0 50px #1f3958;
}

.box-s-pb-h-51 {
  transition: box-shadow 2s;
}
.box-s-pb-h-51 :hover {
  box-shadow: 0 0 51px #1f3958;
}

.box-s-pb-h-52 {
  transition: box-shadow 2s;
}
.box-s-pb-h-52 :hover {
  box-shadow: 0 0 52px #1f3958;
}

.box-s-pb-h-53 {
  transition: box-shadow 2s;
}
.box-s-pb-h-53 :hover {
  box-shadow: 0 0 53px #1f3958;
}

.box-s-pb-h-54 {
  transition: box-shadow 2s;
}
.box-s-pb-h-54 :hover {
  box-shadow: 0 0 54px #1f3958;
}

.box-s-pb-h-55 {
  transition: box-shadow 2s;
}
.box-s-pb-h-55 :hover {
  box-shadow: 0 0 55px #1f3958;
}

.box-s-pb-h-56 {
  transition: box-shadow 2s;
}
.box-s-pb-h-56 :hover {
  box-shadow: 0 0 56px #1f3958;
}

.box-s-pb-h-57 {
  transition: box-shadow 2s;
}
.box-s-pb-h-57 :hover {
  box-shadow: 0 0 57px #1f3958;
}

.box-s-pb-h-58 {
  transition: box-shadow 2s;
}
.box-s-pb-h-58 :hover {
  box-shadow: 0 0 58px #1f3958;
}

.box-s-pb-h-59 {
  transition: box-shadow 2s;
}
.box-s-pb-h-59 :hover {
  box-shadow: 0 0 59px #1f3958;
}

.box-s-pb-h-60 {
  transition: box-shadow 2s;
}
.box-s-pb-h-60 :hover {
  box-shadow: 0 0 60px #1f3958;
}

.box-s-pb-h-61 {
  transition: box-shadow 2s;
}
.box-s-pb-h-61 :hover {
  box-shadow: 0 0 61px #1f3958;
}

.box-s-pb-h-62 {
  transition: box-shadow 2s;
}
.box-s-pb-h-62 :hover {
  box-shadow: 0 0 62px #1f3958;
}

.box-s-pb-h-63 {
  transition: box-shadow 2s;
}
.box-s-pb-h-63 :hover {
  box-shadow: 0 0 63px #1f3958;
}

.box-s-pb-h-64 {
  transition: box-shadow 2s;
}
.box-s-pb-h-64 :hover {
  box-shadow: 0 0 64px #1f3958;
}

.box-s-pb-h-65 {
  transition: box-shadow 2s;
}
.box-s-pb-h-65 :hover {
  box-shadow: 0 0 65px #1f3958;
}

.box-s-pb-h-66 {
  transition: box-shadow 2s;
}
.box-s-pb-h-66 :hover {
  box-shadow: 0 0 66px #1f3958;
}

.box-s-pb-h-67 {
  transition: box-shadow 2s;
}
.box-s-pb-h-67 :hover {
  box-shadow: 0 0 67px #1f3958;
}

.box-s-pb-h-68 {
  transition: box-shadow 2s;
}
.box-s-pb-h-68 :hover {
  box-shadow: 0 0 68px #1f3958;
}

.box-s-pb-h-69 {
  transition: box-shadow 2s;
}
.box-s-pb-h-69 :hover {
  box-shadow: 0 0 69px #1f3958;
}

.box-s-pb-h-70 {
  transition: box-shadow 2s;
}
.box-s-pb-h-70 :hover {
  box-shadow: 0 0 70px #1f3958;
}

.box-s-pb-h-71 {
  transition: box-shadow 2s;
}
.box-s-pb-h-71 :hover {
  box-shadow: 0 0 71px #1f3958;
}

.box-s-pb-h-72 {
  transition: box-shadow 2s;
}
.box-s-pb-h-72 :hover {
  box-shadow: 0 0 72px #1f3958;
}

.box-s-pb-h-73 {
  transition: box-shadow 2s;
}
.box-s-pb-h-73 :hover {
  box-shadow: 0 0 73px #1f3958;
}

.box-s-pb-h-74 {
  transition: box-shadow 2s;
}
.box-s-pb-h-74 :hover {
  box-shadow: 0 0 74px #1f3958;
}

.box-s-pb-h-75 {
  transition: box-shadow 2s;
}
.box-s-pb-h-75 :hover {
  box-shadow: 0 0 75px #1f3958;
}

.box-s-pb-h-76 {
  transition: box-shadow 2s;
}
.box-s-pb-h-76 :hover {
  box-shadow: 0 0 76px #1f3958;
}

.box-s-pb-h-77 {
  transition: box-shadow 2s;
}
.box-s-pb-h-77 :hover {
  box-shadow: 0 0 77px #1f3958;
}

.box-s-pb-h-78 {
  transition: box-shadow 2s;
}
.box-s-pb-h-78 :hover {
  box-shadow: 0 0 78px #1f3958;
}

.box-s-pb-h-79 {
  transition: box-shadow 2s;
}
.box-s-pb-h-79 :hover {
  box-shadow: 0 0 79px #1f3958;
}

.box-s-pb-h-80 {
  transition: box-shadow 2s;
}
.box-s-pb-h-80 :hover {
  box-shadow: 0 0 80px #1f3958;
}

.box-s-pb-h-81 {
  transition: box-shadow 2s;
}
.box-s-pb-h-81 :hover {
  box-shadow: 0 0 81px #1f3958;
}

.box-s-pb-h-82 {
  transition: box-shadow 2s;
}
.box-s-pb-h-82 :hover {
  box-shadow: 0 0 82px #1f3958;
}

.box-s-pb-h-83 {
  transition: box-shadow 2s;
}
.box-s-pb-h-83 :hover {
  box-shadow: 0 0 83px #1f3958;
}

.box-s-pb-h-84 {
  transition: box-shadow 2s;
}
.box-s-pb-h-84 :hover {
  box-shadow: 0 0 84px #1f3958;
}

.box-s-pb-h-85 {
  transition: box-shadow 2s;
}
.box-s-pb-h-85 :hover {
  box-shadow: 0 0 85px #1f3958;
}

.box-s-pb-h-86 {
  transition: box-shadow 2s;
}
.box-s-pb-h-86 :hover {
  box-shadow: 0 0 86px #1f3958;
}

.box-s-pb-h-87 {
  transition: box-shadow 2s;
}
.box-s-pb-h-87 :hover {
  box-shadow: 0 0 87px #1f3958;
}

.box-s-pb-h-88 {
  transition: box-shadow 2s;
}
.box-s-pb-h-88 :hover {
  box-shadow: 0 0 88px #1f3958;
}

.box-s-pb-h-89 {
  transition: box-shadow 2s;
}
.box-s-pb-h-89 :hover {
  box-shadow: 0 0 89px #1f3958;
}

.box-s-pb-h-90 {
  transition: box-shadow 2s;
}
.box-s-pb-h-90 :hover {
  box-shadow: 0 0 90px #1f3958;
}

.box-s-pb-h-91 {
  transition: box-shadow 2s;
}
.box-s-pb-h-91 :hover {
  box-shadow: 0 0 91px #1f3958;
}

.box-s-pb-h-92 {
  transition: box-shadow 2s;
}
.box-s-pb-h-92 :hover {
  box-shadow: 0 0 92px #1f3958;
}

.box-s-pb-h-93 {
  transition: box-shadow 2s;
}
.box-s-pb-h-93 :hover {
  box-shadow: 0 0 93px #1f3958;
}

.box-s-pb-h-94 {
  transition: box-shadow 2s;
}
.box-s-pb-h-94 :hover {
  box-shadow: 0 0 94px #1f3958;
}

.box-s-pb-h-95 {
  transition: box-shadow 2s;
}
.box-s-pb-h-95 :hover {
  box-shadow: 0 0 95px #1f3958;
}

.box-s-pb-h-96 {
  transition: box-shadow 2s;
}
.box-s-pb-h-96 :hover {
  box-shadow: 0 0 96px #1f3958;
}

.box-s-pb-h-97 {
  transition: box-shadow 2s;
}
.box-s-pb-h-97 :hover {
  box-shadow: 0 0 97px #1f3958;
}

.box-s-pb-h-98 {
  transition: box-shadow 2s;
}
.box-s-pb-h-98 :hover {
  box-shadow: 0 0 98px #1f3958;
}

.box-s-pb-h-99 {
  transition: box-shadow 2s;
}
.box-s-pb-h-99 :hover {
  box-shadow: 0 0 99px #1f3958;
}

.box-s-pb-h-100 {
  transition: box-shadow 2s;
}
.box-s-pb-h-100 :hover {
  box-shadow: 0 0 100px #1f3958;
}

/*# sourceMappingURL=box-shadow.css.map */
