.max-content {
  width: max-content;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex;
}

.d-direction-row {
  flex-direction: row;
}

.d-direction-row-reverse {
  flex-direction: row-reverse;
}

.d-direction-col {
  flex-direction: column;
}

.d-direction-col-reverse {
  flex-direction: row;
}

.d-flex-nowrap {
  flex-wrap: nowrap;
}

.d-flex-wrap {
  flex-wrap: wrap;
}

.d-flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.d-align-items-start {
  align-items: flex-start;
}

.d-align-items-end {
  align-items: flex-end;
}

.d-align-items-center {
  align-items: center;
}

.d-align-items-baseline {
  align-items: baseline;
}

.d-align-items-stretch {
  align-items: stretch;
}

.d-justify-content-start {
  justify-content: flex-start;
}

.d-justify-content-end {
  justify-content: flex-end;
}

.d-justify-content-center {
  justify-content: center;
}

.d-justify-content-space-ar {
  justify-content: space-around;
}

.d-justify-content-space-bet {
  justify-content: space-between;
}

.d-justify-content-space-ev {
  justify-content: space-evenly;
}

.d-align-content-start {
  align-content: flex-start;
}

.d-align-content-end {
  align-content: flex-end;
}

.d-align-content-center {
  align-content: center;
}

.d-align-content-space-ar {
  align-content: space-around;
}

.d-align-content-space-bet {
  align-content: space-between;
}

.d-align-content-space-ev {
  align-content: space-evenly;
}

.d-align-content-stretch {
  align-content: stretch;
}

.d-align-self-auto {
  align-self: auto;
}

.d-align-self-start {
  align-self: flex-start;
}

.d-align-self-end {
  align-self: flex-end;
}

.d-align-self-center {
  align-self: center;
}

.d-align-self-baseline {
  align-self: baseline;
}

.d-align-self-stretch {
  align-self: stretch;
}

.float-none {
  float: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.v-hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.order-13 {
  order: 13;
}

.order-14 {
  order: 14;
}

.order-15 {
  order: 15;
}

.order-16 {
  order: 16;
}

.order-17 {
  order: 17;
}

.order-18 {
  order: 18;
}

.order-19 {
  order: 19;
}

.order-20 {
  order: 20;
}

.gap-1 {
  gap: 1px;
}

.gap-2 {
  gap: 2px;
}

.gap-3 {
  gap: 3px;
}

.gap-4 {
  gap: 4px;
}

.gap-5 {
  gap: 5px;
}

.gap-6 {
  gap: 6px;
}

.gap-7 {
  gap: 7px;
}

.gap-8 {
  gap: 8px;
}

.gap-9 {
  gap: 9px;
}

.gap-10 {
  gap: 10px;
}

.gap-11 {
  gap: 11px;
}

.gap-12 {
  gap: 12px;
}

.gap-13 {
  gap: 13px;
}

.gap-14 {
  gap: 14px;
}

.gap-15 {
  gap: 15px;
}

.gap-16 {
  gap: 16px;
}

.gap-17 {
  gap: 17px;
}

.gap-18 {
  gap: 18px;
}

.gap-19 {
  gap: 19px;
}

.gap-20 {
  gap: 20px;
}

.height-1 {
  height: 1vh;
}

.height-2 {
  height: 2vh;
}

.height-3 {
  height: 3vh;
}

.height-4 {
  height: 4vh;
}

.height-5 {
  height: 5vh;
}

.height-6 {
  height: 6vh;
}

.height-7 {
  height: 7vh;
}

.height-8 {
  height: 8vh;
}

.height-9 {
  height: 9vh;
}

.height-10 {
  height: 10vh;
}

.height-11 {
  height: 11vh;
}

.height-12 {
  height: 12vh;
}

.height-13 {
  height: 13vh;
}

.height-14 {
  height: 14vh;
}

.height-15 {
  height: 15vh;
}

.height-16 {
  height: 16vh;
}

.height-17 {
  height: 17vh;
}

.height-18 {
  height: 18vh;
}

.height-19 {
  height: 19vh;
}

.height-20 {
  height: 20vh;
}

.height-21 {
  height: 21vh;
}

.height-22 {
  height: 22vh;
}

.height-23 {
  height: 23vh;
}

.height-24 {
  height: 24vh;
}

.height-25 {
  height: 25vh;
}

.height-26 {
  height: 26vh;
}

.height-27 {
  height: 27vh;
}

.height-28 {
  height: 28vh;
}

.height-29 {
  height: 29vh;
}

.height-30 {
  height: 30vh;
}

.height-31 {
  height: 31vh;
}

.height-32 {
  height: 32vh;
}

.height-33 {
  height: 33vh;
}

.height-34 {
  height: 34vh;
}

.height-35 {
  height: 35vh;
}

.height-36 {
  height: 36vh;
}

.height-37 {
  height: 37vh;
}

.height-38 {
  height: 38vh;
}

.height-39 {
  height: 39vh;
}

.height-40 {
  height: 40vh;
}

.height-41 {
  height: 41vh;
}

.height-42 {
  height: 42vh;
}

.height-43 {
  height: 43vh;
}

.height-44 {
  height: 44vh;
}

.height-45 {
  height: 45vh;
}

.height-46 {
  height: 46vh;
}

.height-47 {
  height: 47vh;
}

.height-48 {
  height: 48vh;
}

.height-49 {
  height: 49vh;
}

.height-50 {
  height: 50vh;
}

.height-51 {
  height: 51vh;
}

.height-52 {
  height: 52vh;
}

.height-53 {
  height: 53vh;
}

.height-54 {
  height: 54vh;
}

.height-55 {
  height: 55vh;
}

.height-56 {
  height: 56vh;
}

.height-57 {
  height: 57vh;
}

.height-58 {
  height: 58vh;
}

.height-59 {
  height: 59vh;
}

.height-60 {
  height: 60vh;
}

.height-61 {
  height: 61vh;
}

.height-62 {
  height: 62vh;
}

.height-63 {
  height: 63vh;
}

.height-64 {
  height: 64vh;
}

.height-65 {
  height: 65vh;
}

.height-66 {
  height: 66vh;
}

.height-67 {
  height: 67vh;
}

.height-68 {
  height: 68vh;
}

.height-69 {
  height: 69vh;
}

.height-70 {
  height: 70vh;
}

.height-71 {
  height: 71vh;
}

.height-72 {
  height: 72vh;
}

.height-73 {
  height: 73vh;
}

.height-74 {
  height: 74vh;
}

.height-75 {
  height: 75vh;
}

.height-76 {
  height: 76vh;
}

.height-77 {
  height: 77vh;
}

.height-78 {
  height: 78vh;
}

.height-79 {
  height: 79vh;
}

.height-80 {
  height: 80vh;
}

.height-81 {
  height: 81vh;
}

.height-82 {
  height: 82vh;
}

.height-83 {
  height: 83vh;
}

.height-84 {
  height: 84vh;
}

.height-85 {
  height: 85vh;
}

.height-86 {
  height: 86vh;
}

.height-87 {
  height: 87vh;
}

.height-88 {
  height: 88vh;
}

.height-89 {
  height: 89vh;
}

.height-90 {
  height: 90vh;
}

.height-91 {
  height: 91vh;
}

.height-92 {
  height: 92vh;
}

.height-93 {
  height: 93vh;
}

.height-94 {
  height: 94vh;
}

.height-95 {
  height: 95vh;
}

.height-96 {
  height: 96vh;
}

.height-97 {
  height: 97vh;
}

.height-98 {
  height: 98vh;
}

.height-99 {
  height: 99vh;
}

.height-100 {
  height: 100vh;
}

/*# sourceMappingURL=flexBox.css.map */
