.font-size-px-1 {
  font-size: 1px;
}

.font-size-px-2 {
  font-size: 2px;
}

.font-size-px-3 {
  font-size: 3px;
}

.font-size-px-4 {
  font-size: 4px;
}

.font-size-px-5 {
  font-size: 5px;
}

.font-size-px-6 {
  font-size: 6px;
}

.font-size-px-7 {
  font-size: 7px;
}

.font-size-px-8 {
  font-size: 8px;
}

.font-size-px-9 {
  font-size: 9px;
}

.font-size-px-10 {
  font-size: 10px;
}

.font-size-px-11 {
  font-size: 11px;
}

.font-size-px-12 {
  font-size: 12px;
}

.font-size-px-13 {
  font-size: 13px;
}

.font-size-px-14 {
  font-size: 14px;
}

.font-size-px-15 {
  font-size: 15px;
}

.font-size-px-16 {
  font-size: 16px;
}

.font-size-px-17 {
  font-size: 17px;
}

.font-size-px-18 {
  font-size: 18px;
}

.font-size-px-19 {
  font-size: 19px;
}

.font-size-px-20 {
  font-size: 20px;
}

.font-size-px-21 {
  font-size: 21px;
}

.font-size-px-22 {
  font-size: 22px;
}

.font-size-px-23 {
  font-size: 23px;
}

.font-size-px-24 {
  font-size: 24px;
}

.font-size-px-25 {
  font-size: 25px;
}

.font-size-px-26 {
  font-size: 26px;
}

.font-size-px-27 {
  font-size: 27px;
}

.font-size-px-28 {
  font-size: 28px;
}

.font-size-px-29 {
  font-size: 29px;
}

.font-size-px-30 {
  font-size: 30px;
}

.font-size-px-31 {
  font-size: 31px;
}

.font-size-px-32 {
  font-size: 32px;
}

.font-size-px-33 {
  font-size: 33px;
}

.font-size-px-34 {
  font-size: 34px;
}

.font-size-px-35 {
  font-size: 35px;
}

.font-size-px-36 {
  font-size: 36px;
}

.font-size-px-37 {
  font-size: 37px;
}

.font-size-px-38 {
  font-size: 38px;
}

.font-size-px-39 {
  font-size: 39px;
}

.font-size-px-40 {
  font-size: 40px;
}

.font-size-px-41 {
  font-size: 41px;
}

.font-size-px-42 {
  font-size: 42px;
}

.font-size-px-43 {
  font-size: 43px;
}

.font-size-px-44 {
  font-size: 44px;
}

.font-size-px-45 {
  font-size: 45px;
}

.font-size-px-46 {
  font-size: 46px;
}

.font-size-px-47 {
  font-size: 47px;
}

.font-size-px-48 {
  font-size: 48px;
}

.font-size-px-49 {
  font-size: 49px;
}

.font-size-px-50 {
  font-size: 50px;
}

.font-size-px-51 {
  font-size: 51px;
}

.font-size-px-52 {
  font-size: 52px;
}

.font-size-px-53 {
  font-size: 53px;
}

.font-size-px-54 {
  font-size: 54px;
}

.font-size-px-55 {
  font-size: 55px;
}

.font-size-px-56 {
  font-size: 56px;
}

.font-size-px-57 {
  font-size: 57px;
}

.font-size-px-58 {
  font-size: 58px;
}

.font-size-px-59 {
  font-size: 59px;
}

.font-size-px-60 {
  font-size: 60px;
}

.font-size-px-61 {
  font-size: 61px;
}

.font-size-px-62 {
  font-size: 62px;
}

.font-size-px-63 {
  font-size: 63px;
}

.font-size-px-64 {
  font-size: 64px;
}

.font-size-px-65 {
  font-size: 65px;
}

.font-size-px-66 {
  font-size: 66px;
}

.font-size-px-67 {
  font-size: 67px;
}

.font-size-px-68 {
  font-size: 68px;
}

.font-size-px-69 {
  font-size: 69px;
}

.font-size-px-70 {
  font-size: 70px;
}

.font-size-px-71 {
  font-size: 71px;
}

.font-size-px-72 {
  font-size: 72px;
}

.font-size-px-73 {
  font-size: 73px;
}

.font-size-px-74 {
  font-size: 74px;
}

.font-size-px-75 {
  font-size: 75px;
}

.font-size-px-76 {
  font-size: 76px;
}

.font-size-px-77 {
  font-size: 77px;
}

.font-size-px-78 {
  font-size: 78px;
}

.font-size-px-79 {
  font-size: 79px;
}

.font-size-px-80 {
  font-size: 80px;
}

.font-size-px-81 {
  font-size: 81px;
}

.font-size-px-82 {
  font-size: 82px;
}

.font-size-px-83 {
  font-size: 83px;
}

.font-size-px-84 {
  font-size: 84px;
}

.font-size-px-85 {
  font-size: 85px;
}

.font-size-px-86 {
  font-size: 86px;
}

.font-size-px-87 {
  font-size: 87px;
}

.font-size-px-88 {
  font-size: 88px;
}

.font-size-px-89 {
  font-size: 89px;
}

.font-size-px-90 {
  font-size: 90px;
}

.font-size-px-91 {
  font-size: 91px;
}

.font-size-px-92 {
  font-size: 92px;
}

.font-size-px-93 {
  font-size: 93px;
}

.font-size-px-94 {
  font-size: 94px;
}

.font-size-px-95 {
  font-size: 95px;
}

.font-size-px-96 {
  font-size: 96px;
}

.font-size-px-97 {
  font-size: 97px;
}

.font-size-px-98 {
  font-size: 98px;
}

.font-size-px-99 {
  font-size: 99px;
}

.font-size-px-100 {
  font-size: 100px;
}

.font-size-px-101 {
  font-size: 101px;
}

.font-size-px-102 {
  font-size: 102px;
}

.font-size-px-103 {
  font-size: 103px;
}

.font-size-px-104 {
  font-size: 104px;
}

.font-size-px-105 {
  font-size: 105px;
}

.font-size-px-106 {
  font-size: 106px;
}

.font-size-px-107 {
  font-size: 107px;
}

.font-size-px-108 {
  font-size: 108px;
}

.font-size-px-109 {
  font-size: 109px;
}

.font-size-px-110 {
  font-size: 110px;
}

.font-size-px-111 {
  font-size: 111px;
}

.font-size-px-112 {
  font-size: 112px;
}

.font-size-px-113 {
  font-size: 113px;
}

.font-size-px-114 {
  font-size: 114px;
}

.font-size-px-115 {
  font-size: 115px;
}

.font-size-px-116 {
  font-size: 116px;
}

.font-size-px-117 {
  font-size: 117px;
}

.font-size-px-118 {
  font-size: 118px;
}

.font-size-px-119 {
  font-size: 119px;
}

.font-size-px-120 {
  font-size: 120px;
}

.font-size-px-121 {
  font-size: 121px;
}

.font-size-px-122 {
  font-size: 122px;
}

.font-size-px-123 {
  font-size: 123px;
}

.font-size-px-124 {
  font-size: 124px;
}

.font-size-px-125 {
  font-size: 125px;
}

.font-size-px-126 {
  font-size: 126px;
}

.font-size-px-127 {
  font-size: 127px;
}

.font-size-px-128 {
  font-size: 128px;
}

.font-size-px-129 {
  font-size: 129px;
}

.font-size-px-130 {
  font-size: 130px;
}

.font-size-px-131 {
  font-size: 131px;
}

.font-size-px-132 {
  font-size: 132px;
}

.font-size-px-133 {
  font-size: 133px;
}

.font-size-px-134 {
  font-size: 134px;
}

.font-size-px-135 {
  font-size: 135px;
}

.font-size-px-136 {
  font-size: 136px;
}

.font-size-px-137 {
  font-size: 137px;
}

.font-size-px-138 {
  font-size: 138px;
}

.font-size-px-139 {
  font-size: 139px;
}

.font-size-px-140 {
  font-size: 140px;
}

.font-size-px-141 {
  font-size: 141px;
}

.font-size-px-142 {
  font-size: 142px;
}

.font-size-px-143 {
  font-size: 143px;
}

.font-size-px-144 {
  font-size: 144px;
}

.font-size-px-145 {
  font-size: 145px;
}

.font-size-px-146 {
  font-size: 146px;
}

.font-size-px-147 {
  font-size: 147px;
}

.font-size-px-148 {
  font-size: 148px;
}

.font-size-px-149 {
  font-size: 149px;
}

.font-size-px-150 {
  font-size: 150px;
}

.font-size-px-151 {
  font-size: 151px;
}

.font-size-px-152 {
  font-size: 152px;
}

.font-size-px-153 {
  font-size: 153px;
}

.font-size-px-154 {
  font-size: 154px;
}

.font-size-px-155 {
  font-size: 155px;
}

.font-size-px-156 {
  font-size: 156px;
}

.font-size-px-157 {
  font-size: 157px;
}

.font-size-px-158 {
  font-size: 158px;
}

.font-size-px-159 {
  font-size: 159px;
}

.font-size-px-160 {
  font-size: 160px;
}

.font-size-px-161 {
  font-size: 161px;
}

.font-size-px-162 {
  font-size: 162px;
}

.font-size-px-163 {
  font-size: 163px;
}

.font-size-px-164 {
  font-size: 164px;
}

.font-size-px-165 {
  font-size: 165px;
}

.font-size-px-166 {
  font-size: 166px;
}

.font-size-px-167 {
  font-size: 167px;
}

.font-size-px-168 {
  font-size: 168px;
}

.font-size-px-169 {
  font-size: 169px;
}

.font-size-px-170 {
  font-size: 170px;
}

.font-size-px-171 {
  font-size: 171px;
}

.font-size-px-172 {
  font-size: 172px;
}

.font-size-px-173 {
  font-size: 173px;
}

.font-size-px-174 {
  font-size: 174px;
}

.font-size-px-175 {
  font-size: 175px;
}

.font-size-px-176 {
  font-size: 176px;
}

.font-size-px-177 {
  font-size: 177px;
}

.font-size-px-178 {
  font-size: 178px;
}

.font-size-px-179 {
  font-size: 179px;
}

.font-size-px-180 {
  font-size: 180px;
}

.font-size-px-181 {
  font-size: 181px;
}

.font-size-px-182 {
  font-size: 182px;
}

.font-size-px-183 {
  font-size: 183px;
}

.font-size-px-184 {
  font-size: 184px;
}

.font-size-px-185 {
  font-size: 185px;
}

.font-size-px-186 {
  font-size: 186px;
}

.font-size-px-187 {
  font-size: 187px;
}

.font-size-px-188 {
  font-size: 188px;
}

.font-size-px-189 {
  font-size: 189px;
}

.font-size-px-190 {
  font-size: 190px;
}

.font-size-px-191 {
  font-size: 191px;
}

.font-size-px-192 {
  font-size: 192px;
}

.font-size-px-193 {
  font-size: 193px;
}

.font-size-px-194 {
  font-size: 194px;
}

.font-size-px-195 {
  font-size: 195px;
}

.font-size-px-196 {
  font-size: 196px;
}

.font-size-px-197 {
  font-size: 197px;
}

.font-size-px-198 {
  font-size: 198px;
}

.font-size-px-199 {
  font-size: 199px;
}

.font-size-px-200 {
  font-size: 200px;
}

.font-size-rem-1 {
  font-size: 1rem;
}

.font-size-rem-2 {
  font-size: 2rem;
}

.font-size-rem-3 {
  font-size: 3rem;
}

.font-size-rem-4 {
  font-size: 4rem;
}

.font-size-rem-5 {
  font-size: 5rem;
}

.font-size-rem-6 {
  font-size: 6rem;
}

.font-size-rem-7 {
  font-size: 7rem;
}

.font-size-rem-8 {
  font-size: 8rem;
}

.font-size-rem-9 {
  font-size: 9rem;
}

.font-size-rem-10 {
  font-size: 10rem;
}

.font-size-rem-11 {
  font-size: 11rem;
}

.font-size-rem-12 {
  font-size: 12rem;
}

.font-size-rem-13 {
  font-size: 13rem;
}

.font-size-rem-14 {
  font-size: 14rem;
}

.font-size-rem-15 {
  font-size: 15rem;
}

.font-size-rem-16 {
  font-size: 16rem;
}

.font-size-rem-17 {
  font-size: 17rem;
}

.font-size-rem-18 {
  font-size: 18rem;
}

.font-size-rem-19 {
  font-size: 19rem;
}

.font-size-rem-20 {
  font-size: 20rem;
}

.font-size-rem-21 {
  font-size: 21rem;
}

.font-size-rem-22 {
  font-size: 22rem;
}

.font-size-rem-23 {
  font-size: 23rem;
}

.font-size-rem-24 {
  font-size: 24rem;
}

.font-size-rem-25 {
  font-size: 25rem;
}

.font-size-rem-26 {
  font-size: 26rem;
}

.font-size-rem-27 {
  font-size: 27rem;
}

.font-size-rem-28 {
  font-size: 28rem;
}

.font-size-rem-29 {
  font-size: 29rem;
}

.font-size-rem-30 {
  font-size: 30rem;
}

.font-size-rem-31 {
  font-size: 31rem;
}

.font-size-rem-32 {
  font-size: 32rem;
}

.font-size-rem-33 {
  font-size: 33rem;
}

.font-size-rem-34 {
  font-size: 34rem;
}

.font-size-rem-35 {
  font-size: 35rem;
}

.font-size-rem-36 {
  font-size: 36rem;
}

.font-size-rem-37 {
  font-size: 37rem;
}

.font-size-rem-38 {
  font-size: 38rem;
}

.font-size-rem-39 {
  font-size: 39rem;
}

.font-size-rem-40 {
  font-size: 40rem;
}

.font-size-rem-41 {
  font-size: 41rem;
}

.font-size-rem-42 {
  font-size: 42rem;
}

.font-size-rem-43 {
  font-size: 43rem;
}

.font-size-rem-44 {
  font-size: 44rem;
}

.font-size-rem-45 {
  font-size: 45rem;
}

.font-size-rem-46 {
  font-size: 46rem;
}

.font-size-rem-47 {
  font-size: 47rem;
}

.font-size-rem-48 {
  font-size: 48rem;
}

.font-size-rem-49 {
  font-size: 49rem;
}

.font-size-rem-50 {
  font-size: 50rem;
}

.font-w-100 {
  font-weight: 100;
}

.font-w-200 {
  font-weight: 200;
}

.font-w-300 {
  font-weight: 300;
}

.font-w-400 {
  font-weight: 400;
}

.font-w-500 {
  font-weight: 500;
}

.font-w-600 {
  font-weight: 600;
}

.font-w-700 {
  font-weight: 700;
}

.font-w-800 {
  font-weight: 800;
}

.font-w-900 {
  font-weight: 900;
}

.font-w-bold {
  font-weight: bold;
}

.font-style-italic {
  font-style: italic;
}

.font-style-oblique {
  font-style: oblique;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-justify-end {
  text-align: end;
}

.text-justify-left {
  text-align: left;
}

.text-justify-right {
  text-align: right;
}

.text-justify-start {
  text-align: start;
}

.pointer:hover {
  cursor: pointer;
}

/*# sourceMappingURL=font-size.css.map */
