@for $i from 1 through 400 {
	.circle-px-#{$i} {
		border-radius: $i * 1px;
	}
}

@for $i from 1 through 200 {
	.circle-t-l-px-#{$i} {
		border-top-left-radius: $i * 1px;
	}
}

@for $i from 1 through 200 {
	.circle-t-r-px-#{$i} {
		border-top-right-radius: $i * 1px;
	}
}

@for $i from 1 through 200 {
	.circle-b-l-px-#{$i} {
		border-bottom-left-radius: $i * 1px;
	}
}

@for $i from 1 through 200 {
	.circle-b-r-px-#{$i} {
		border-bottom-right-radius: $i * 1px;
	}
}