@for $i from 1 through 600 {
	.circle-px-#{$i} {
		border-radius: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.circle-porc-#{$i} {
		border-radius: $i * 1%;
	}
}

@for $i from 1 through 200 {
	.circle-rem-#{$i} {
		border-radius: $i * 1rem;
	}
}
