.btn {
	border: none;
	background-color: transparent;
	text-decoration: none;
	cursor: none;
	font-size: 20px;
	color: black;

	i {
		background-color: transparent;
	}
}

.btn-red {
	@extend .btn;
	border: 1px solid rgba(194, 46, 46, 0.822);
	padding: 10px 20px;
	border-radius: 5px;
	transition: color 1s, background-color 1s;
	font-weight: bold;
	color: rgba(194, 46, 46, 0.822);

	&:hover {
		color: white;
		background-color: rgba(194, 46, 46, 0.822);
		cursor: pointer;
	}
}

.btn-blue {
	@extend .btn-red;
	border: 1px solid rgba(0, 0, 255, 0.692);
	color: rgba(0, 0, 255, 0.692);

	&:hover {
		background-color: rgba(0, 0, 255, 0.692);
	}
}

.btn-white {
	@extend .btn-red;
	border: 1px solid rgba(198, 198, 206, 0.692);
	color: rgba(221, 214, 214, 0.911);

	&:hover {
		background-color: rgba(255, 255, 255, 0.692);
		color: rgb(34, 27, 27);
	}
}

.btn-black {
	@extend .btn-red;
	border: 1px solid rgba(7, 0, 0, 0.692);
	color: rgba(32, 13, 13, 0.911);

	&:hover {
		background-color: rgba(7, 0, 0, 0.692);
	}
}

.btn-sm {
	padding: 5px 10px;
	font-size: 16px;
}

.btn-lg {
	padding: 15px 35px;
	font-size: 25px;
}
