@use 'colores';

.btn {
	width: max-content;
	border: none;
	text-decoration: none;
	cursor: pointer;

	i {
		width: max-content;
		background-color: transparent;
	}
}

.btn-gold {
	@extend .btn;
	border: 1px solid;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	transition: background-color 1s, color 1s;
	color: colores.$color-old-gold;
	background-color: colores.$color-paynes-gray;

	&:hover {
		background-color: rgb(50, 128, 128);
		color: rgb(70, 59, 59);
	}
}

.btn-prusian {
	@extend .btn;
	transition: color 1s;
	border: none;
	border-radius: 4px;
	padding: 10px;
	color: colores.$color-red;
	background-color: colores.$color-prusian-blue;

	&:hover {
		background-color: rgb(34, 168, 95);
		color: rgb(83, 81, 231);
	}

	&:active {
		background-color: rgb(179, 60, 60);
		color: black;
	}
}

.btn-kelly {
	@extend .btn;
	color: colores.$color-white;
	background-color: colores.$color-kelly-green;
	border-radius: 4px;
}

.btn-blue {
	@extend .btn;
	color: colores.$color-white;
	border: 8px solid;
	background-color: colores.$color-prusian-blue;
	border-radius: 30px;
}

.btn-h {
	transition: background-color 1s, color 1s;

	&:hover {
		background-color: rgb(50, 128, 128);
		color: rgb(70, 59, 59);
	}
}

.btn-h-x {
	transition: color 1s;

	&:hover {
		background-color: rgb(34, 168, 95);
		color: rgb(83, 81, 231);
	}

	&:active {
		background-color: rgb(179, 60, 60);
		color: black;
	}
}
