$color-red: #ff0908;
$color-selective-yellow: #fdb100;
$color-olive: #856f09;

$color-forrest-green: #009800;
$color-dark-pastel-green: #4eb74e;
$color-old-gold: #c1ab00;

$color-coquelicot: #f64a1b;
$color-peach: #fec190;
$color-sandy-brown: #ffb56b;

$color-black: #020102;
$color-bistre: #3d2e1e;
$color-kelly-green: #01a700;

$color-drab-dark-brown: #3f3b25;
$color-hunter-green: #526a46;
$color-flame: #d16741;

$color-prusian-blue: #1f3958;
$color-indigo-dye: #274a71;
$color-cadet-gray:#8fa9c1;

$color-engineering-orange: #d40000;
$color-beaer: #b48f7c;
$color-chamoisee: #a3735d;

$color-satin-sheen-gold: #d4ab4f;
$color-paynes-gray: #545f76;
$color-dim-gray: #756b63;

.color-red {
	color: $color-red;
}

.color-selective-yellow {
	color: $color-selective-yellow;
}

.color-olive {
	color: $color-olive;
}

.color-forrest-green {
	color: $color-forrest-green;
}

.color-dark-pastel-green {
	color: $color-dark-pastel-green;
}

.color-old-gold {
	color: $color-old-gold;
}

.color-coquelicot {
	color: $color-coquelicot;
}

.color-peach {
	color: $color-peach;
}

.color-sandy-brown {
	color: $color-sandy-brown;
}

.color-black {
	color: $color-black;
}

.color-bistre {
	color: $color-bistre;
}

.color-bistre {
	color: $color-bistre;
}

.color-kelly-green {
	color: $color-kelly-green;
}

.bg-red {
	background-color: $color-red;
}

.bg-selective-yellow {
	background-color: $color-selective-yellow;
}

.bg-olive {
	background-color: $color-olive;
}

.bg-forrest-green {
	background-color: $color-forrest-green;
}

.bg-dark-pastel-green {
	background-color: $color-dark-pastel-green;
}

.bg-old-gold {
	background-color: $color-old-gold;
}

.bg-coquelicot {
	background-color: $color-coquelicot;
}

.bg-peach {
	background-color: $color-peach;
}

.bg-sandy-brown {
	background-color: $color-sandy-brown;
}

.bg-black {
	background-color: $color-black;
}

.bg-bistre {
	background-color: $color-bistre;
}

.bg-kelly-green {
	background-color: $color-kelly-green;
}

.bg-drab-dark-brown {
	background-color: $color-drab-dark-brown;
}

.bg-hunter-green {
	background-color: $color-hunter-green;
}

.bg-flame {
	background-color: $color-flame;
}

.bg-prusian-blue {
	background-color: $color-prusian-blue;
}

.bg-indigo-dye {
	background-color: $color-indigo-dye;
}

.bg-cadet-gray {
	background-color: $color-cadet-gray;
}

.bg-engineering-orange {
	background-color: $color-engineering-orange;
}

.bg-beaer {
	background-color: $color-beaer;
}

.bg-chamoisee {
	background-color: $color-chamoisee;
}

.bg-satin-sheen-gold {
	background-color: $color-satin-sheen-gold;
}

.bg-paynes-gray {
	background-color: $color-paynes-gray;
}

.bg-dim-gray {
	background-color: $color-dim-gray;
}