$color-red: #ff0908;
$color-selective-yellow: #fdb100;
$color-olive: #856f09;

$color-forrest-green: #009800;
$color-dark-pastel-green: #4eb74e;
$color-old-gold: #c1ab00;

$color-coquelicot: #f64a1b;
$color-peach: #fec190;
$color-sandy-brown: #ffb56b;

$color-black: #020102;
$color-bistre: #3d2e1e;
$color-kelly-green: #01a700;
