// ? breakpoint
$XX-l: 1400px;
$X-l: 1200px;
$L-d: 992px;
$M-d: 768px;
$S-d: 576px;

body {
    padding: 0 10px;

    .container {
        width: 100%;
        border: 1px solid;
    }
}


// ! XX-Large devices (larger desktops, 1400px and up)
@media (max-width: $XX-l) {
	
}

// ! X-Large devices (large desktops, 1200px and up)
@media (max-width: $X-l) {
	
}

// ! Large devices (desktops, 992px and up)
@media (max-width: $L-d) {
	
}

// ! Medium devices (tablets, 768px and up)
@media (max-width: $M-d) {
	
}

// ! Small devices (landscape phones, 576px and up)
@media (max-width: $S-d) {
	
}
