$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$xxl: 1320px;

.container {
	border: 1px solid;
	margin: 10px 20px;
}

@media (max-width: $xl) {
	.body {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container {
		width: 100%;
		background-color: red;
		border: 4px;
		text-align: center;
	}
}

@media (max-width: $md) {
	.body {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container {
		width: 100%;
		background-color: rgb(0, 132, 255);
		border: 4px;
		margin: 0;
		text-align: center;
	}
}
