@for $i from 1 through 300 {
	.font-size-px-#{$i} {
		font-size: $i * 1px;
	}
}

@for $i from 1 through 50 {
	.font-size-rem-#{$i} {
		font-size: $i * 1rem;
	}
}

.font-weight-100 {
	font-weight: 100;
}

.font-weight-200 {
	font-weight: 200;
}

.font-weight-300 {
	font-weight: 300;
}

.font-weight-400 {
	font-weight: 400;
}

.font-weight-500 {
	font-weight: 500;
}

.font-weight-600 {
	font-weight: 600;
}

.font-weight-700 {
	font-weight: 700;
}

.font-weight-800 {
	font-weight: 800;
}

.font-weight-900 {
	font-weight: 900;
}

.font-weight-bold {
	font-weight: bold;
}

.font-style-italic {
	font-style: italic;
}

.font-style-oblique {
	font-style: oblique;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-justify-end {
	text-align: end;
}

.text-justify-left {
	text-align: left;
}

.text-justify-right {
	text-align: right;
}

.text-justify {
	text-align: start;
}

.pointer {
	&:hover {
		cursor: pointer;
	}
}
