$color-red: #ff0908;
$color-flame: #d16741;
$color-forrest-green: #009800;
$color-dark-pastel-green: #4eb74e;
$color-indigo-dye: #274a71;
$color-cadet-gray: #8fa9c1;
$color-chamoisee: #a3735d;
$color-beaer: #b48f7c;

// .form{
//     display: flex;
//     margin: 20px;
//     border: 1px solid $color-red;
//     width: 20px;
//     height: 50px;
// }

label {
    display: flex;
    flex-direction: column;
}

input {
    display: flex;
    flex-direction: column;
}

.textarea {
    resize: none;
}