$color-red: #ff0908;
$color-flame: #d16741;
$color-forrest-green: #009800;
$color-dark-pastel-green: #4eb74e;
$color-indigo-dye: #274a71;
$color-cadet-gray: #8fa9c1;
$color-chamoisee: #a3735d;
$color-beaer: #b48f7c;

.form {
	display: flex;
	flex-direction: column;
	gap: 4px;

	label {
		font-size: 20px;
		color: $color-cadet-gray;
	}

	input {
		padding: 10px;
		border-radius: 6px;
		font-size: 16px;
		outline: none;
	}

	textarea {
		resize: none;
	}

	.checkbox {
		label {
			display: flex;
			flex-direction: row;
			gap: 4px;
		}
	}
}
