// ! margin usando px
@for $i from 1 through 100 {
	.m-#{$i} {
		margin: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.m-t-#{$i} {
		margin-top: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.m-b-#{$i} {
		margin-bottom: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.m-l-#{$i} {
		margin-left: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.m-r-#{$i} {
		margin-right: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.m-t-b-#{$i} {
		margin-top: $i * 1px;
		margin-bottom: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.m-l-r-#{$i} {
		margin-left: $i * 1px;
		margin-right: $i * 1px;
	}
}

// ! padding usando px
@for $i from 1 through 100 {
	.p-#{$i} {
		padding: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.p-t-#{$i} {
		padding-top: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.p-b-#{$i} {
		padding-bottom: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.p-l-#{$i} {
		padding-left: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.p-r-#{$i} {
		padding-right: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.p-t-b-#{$i} {
		padding-top: $i * 1px;
		padding-bottom: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.p-l-r-#{$i} {
		padding-left: $i * 1px;
		padding-right: $i * 1px;
	}
}

// ! border usando px
@for $i from 1 through 100 {
	.b-#{$i} {
		border: $i * 1px solid;
	}
}

@for $i from 1 through 100 {
	.b-t-#{$i} {
		border-top: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.b-b-#{$i} {
		border-bottom: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.b-l-#{$i} {
		border-left: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.b-r-#{$i} {
		border-right: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.b-t-b-#{$i} {
		border-top: $i * 1px;
		border-bottom: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.b-l-r-#{$i} {
		border-left: $i * 1px;
		border-right: $i * 1px;
	}
}
