// ! margin usando px
@for $i from 1 through 100 {
	.margin-px-#{$i} {
		margin: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.margin-t-b-px-#{$i} {
		margin: $i * 1px 0;
	}
}

@for $i from 1 through 100 {
	.margin-l-r-px-#{$i} {
		margin: 0 $i * 1px;
	}
}

@for $i from 1 through 100 {
	.margin-t-px-#{$i} {
		margin-top: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.margin-b-px-#{$i} {
		margin-bottom: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.margin-l-px-#{$i} {
		margin-left: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.margin-r-px-#{$i} {
		margin-right: $i * 1px;
	}
}

// ! padding usando px
@for $i from 1 through 100 {
	.padding-px-#{$i} {
		padding: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.padding-t-b-px-#{$i} {
		padding: $i * 1px 0;
	}
}

@for $i from 1 through 100 {
	.padding-l-r-px-#{$i} {
		padding: 0 $i * 1px;
	}
}

@for $i from 1 through 100 {
	.padding-t-px-#{$i} {
		padding-top: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.padding-b-px-#{$i} {
		padding-bottom: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.padding-l-px-#{$i} {
		padding-left: $i * 1px;
	}
}

@for $i from 1 through 100 {
	.padding-r-px-#{$i} {
		padding-right: $i * 1px;
	}
}

// ! border usando px
@for $i from 1 through 100 {
	.border-px-#{$i} {
		border: $i * 1px solid;
	}
}

@for $i from 1 through 100 {
	.border-t-b-px-#{$i} {
		border: $i * 1px 0;
	}
}

@for $i from 1 through 100 {
	.border-l-r-px-#{$i} {
		border: 0 $i * 1px;
	}
}

@for $i from 1 through 100 {
	.border-t-px-#{$i} {
		border-top: $i * 1px solid;
	}
}

@for $i from 1 through 100 {
	.border-b-px-#{$i} {
		border-bottom: $i * 1px solid;
	}
}

@for $i from 1 through 100 {
	.border-l-px-#{$i} {
		border-left: $i * 1px solid;
	}
}

@for $i from 1 through 100 {
	.border-r-px-#{$i} {
		border-right: $i * 1px solid;
	}
}
