$color-cadet-gray: #8fa9c1;
$color-indigo-dye: #274a71;

.nav {
	display: flex;
	font-weight: bold;
	font-size: 20px;
	gap: 2rem;

	.nav-item {
		display: flex;

		.nav-link {
			transition: color 1s, background-color 1s;

			&:hover {
				color: $color-cadet-gray;
			}
		}
	}

	.nav-link {
		transition: color 1s, background-color 1s;
		color: white;

		&:hover {
			color: $color-cadet-gray;
		}
	}

	.nav-border {
		border: 1px solid;
		padding: 6px 10px;
	}

	$M-d: 768px;

	// ! Large devices (desktops, 768px and up)
	@media (max-width: $M-d) {
		nav {
			.d-block-2 {
				display: block;
			}

			.d-none-2 {
				display: none;
			}
		}
	}
}

// ! Large devices (desktops, 992px and up)
$L-d: 992px;
@media (max-width: $L-d) {
	.nav-h {
		display: flex;
		flex-direction: column-reverse;
		height: 40px;
		overflow: hidden;
		gap: 16px;
		transition: height 2s;

		&:hover {
			height: 200px;
		}
	}
}

.active {
	pointer-events: visible;
}

.disabled {
	pointer-events: none;
}

.text-d-under {
	text-decoration: underline;  
}

.text-d-over {
	text-decoration: overline;
}

.text-d-line {
	text-decoration: line-through;
}

.text-d-blink {
	text-decoration: blink;
}

.text-d-none {
	text-decoration: none;
}

.text-d-underover {
	text-decoration: underline overline;
}
